<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Light.master" CodeBehind="ChangePasswordSuccess.aspx.cs" Inherits="Orders.Backend.Clients.OrderMonitoring.ChangePasswordSuccess" %>

<asp:Content ID="MainContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="accountHeader">
    <h2>
        Change Password</h2>
    <p>Your password has been changed successfully.</p>
</div>
</asp:Content>