<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Light.master" CodeBehind="RegisterSuccess.aspx.cs" Inherits="Orders.Backend.Clients.OrderMonitoring.RegisterSuccess" %>

<asp:content id="ClientArea" contentplaceholderid="MainContent" runat="server">
	<div class="accountHeader">
    <h2>Registration</h2>
    <p>Registration is successful! Thank you for registering. Go to <a href="Login.aspx">login page</a>.</p>
</div>
</asp:content>