﻿<!DOCTYPE html>
<html style="padding:0; margin: 0; width: 100%; height: 100%; border: none;">
<head>
    <title></title>
</head>
<body style="padding:0; margin: 0; width: 100%; height: 100%; border: none;">
    @RenderBody()
</body>
</html>
