﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var approot = '@Request.ApplicationPath';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dialogs")
    @Scripts.Render("~/bundles/Dadata")
    @Styles.Render("~/Content/css")
    <script src='@Url.Content("~/Scripts/custom/routeLinks.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/base.js")'></script>
    <script src='@Url.Content("~/Scripts/custom/validation.conditional.js")'></script>
    <link href="https://dadata.ru/static/css/lib/suggestions-4.8.css" type="text/css" rel="stylesheet" />
    <!--[if lt IE 10]>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="https://dadata.ru/static/js/lib/jquery.suggestions-4.8.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body style="padding:0px 10px;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
