﻿.customLink {
    cursor: pointer;
}
.ui-datepicker-trigger {
    margin-left: 10px;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.field-validation-error, .errorField {
    color : red;
}
hr {
    margin: 10px 0px;
}
.errorLine, .errorLine td {
    background-color : #FF7070 !important;
}
.absentLine td {
    background-color : #FFB6B6 !important;
}
.errorText {
    color : red;
}
.control-group.display {
    margin-bottom: 0px;
}
.control-group.display .controls {
    padding-top: 5px;
}
.ui-red.ui-icon {
	background-image: url(images/ui-icons_cd0a0a_256x240.png);
}
.ui-green.ui-icon {
	background-image: url(images/ui-icons_0a6d15_256x240.png);
}
.expandableComment {
    padding-left: 2px;
    height: 20px; 
    overflow:hidden; 
    background-color: white; 
    border: 1px solid gray;
}
.expandableComment.show {
    height: 200px; 
    overflow:auto; 
}
.expandableIcon {
    margin: 2px;
    float: right;
}
.customInlineBlock {
  display: inline-block;
  *zoom:1;
  *display: inline;
}
#pickupYandexMap {
    min-width:400px;
    min-height:400px;
    max-width:600px;
    max-height:600px;
    overflow:hidden;
}
.pointDescription {
    vertical-align: middle;border: 1px solid gray; padding: 2px; margin: 2px 0px;
}
.pointDescription.selected {
    background-color: #55DD55;
}
.pointDescription .customInlineBlock {
    vertical-align: middle;
}