﻿
.mdl-tag {
    background-color: #3f51b5;
    background-image: url('cross.png');
    background-position: right 2px top 3px;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 10px 10px 10px 0;
    padding: 5px 30px 5px 10px;
}

.mdl-data-table {
    white-space: normal;
    width: 100%;
}

.mdl-layout__header {
}

.mdl-layout__drawer {
    overflow-x: hidden;
}

.mdl-layout__content {
    overflow-x: auto;
    display: block;
}

#reload {
    bottom: 32px;
    right: 32px;
    position: fixed;
    z-index: 7;
}

#loading {
    position: absolute;
}

#loading .mdl-spinner {
    position: fixed;
    left: 50%;
    z-index: 7;    
}