﻿@model List<InstallService.Web.ViewModel.InstallationItem>

@{
    ViewBag.Title = "Установки";
}
<script src="~/Scripts/kendo.extended.js"></script>
<script src="~/Scripts/kendo.ui.culture.js"></script>
<script src="~/Scripts/kendo.ui.culture.ru-RU.js"></script>

<script type="text/javascript">
    var updateWindow,
        detailsTemplate;

    $('document').ready(function() {
        kendo.culture("ru-RU");
        $("#installations").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("Installations", "Installations", new {httproute = ""})",
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            OrderId: { editable: false },
                            WwsOrderId: { editable: false },
                            CreatedDate: { editable: false, type: "date", },
                            SapCode: { editable: false },
                            UserName: { editable: true },
                            Phone: { editable: false },
                            DeliveryType: { editable: false },
                            DeliveryAddress: { editable: false },
                            DeliveryDate: { type: "date", editable: false },
                            ApprovedDate: { type: "date", editable: true },
                            FactDate: { type: "date", editable: true },
                            InstallationAddress: { editable: true },
                            ArticleId: { editable: false },
                            Name: { editable: false },
                            Price: { editable: false },
                            InstallStatus: { editable: true },
                            CompleteDate: { type: "date", editable: false },
                            Title: { editable: false },
                        },
                    }
                }
            },
            toolbar: ["excel"],
            detailTemplate: kendo.template($("#itemstemplate").html()),
            detailInit: detailInit,
            excel: {
                allPages: true
            },
            height: 700,
            sortable: true,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Начинается с"
                    },
                    date: {
                        gte: "От",
                        lte: "До"
                    }
                }
            },
            filterMenuInit: function (e) {
                if (e.field == 'CreatedDate' || e.field == 'DeliveryDate' || e.field == 'ApprovedDate' || e.field == 'FactDate')
                    kendo.ui.OnInitDayFilter(e);
            },
            editable: "popup",
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5,
            },
            columns: [
                {
                    field: "OrderId",
                    title: "Номер заказа",
                    filterable: {
                        cell: {
                            showOperators: false
                        }
                    }
                },
                {
                    field: "WwsOrderId",
                    title: "Номер WWS резерва",
                    filterable: {
                        cell: {
                            showOperators: false
                        }
                    }
                },
                {
                    field: "SapCode",
                    title: "SapCode"
                },
                {
                    field: "CreatedDate",
                    title: "Дата заказа",
                    format: "{0:dd.MM.yyyy}",
                    filterable: {
                        extra: true,
                        ui: "datepicker"
                    }
                },
                {
                    field: "UserName",
                    title: "ФИО клиента"
                },
                {
                    field: "Phone",
                    title: "Телефон"
                },
                {
                    field: "DeliveryType",
                    title: "Способ получения",
                    filterable: { ui: deliveryTypesFilter }
                },
                {
                    field: "DeliveryDate",
                    title: "Дата доставки",
                    format: "{0:dd.MM.yyyy}",
                    filterable: {
                        extra: true,
                        ui: "datepicker"
                    }
                },
                {
                    field: "ApprovedDate",
                    title: "Согласованная дата установки",
                    format: "{0:dd.MM.yyyy}",
                    filterable: {
                        extra: true,
                        ui: "datepicker"
                    }
                },
                {
                    field: "FactDate",
                    title: "Фактическая дата установки",
                    format: "{0:dd.MM.yyyy}",
                    filterable: {
                        extra: true,
                        ui: "datepicker"
                    }
                },
                {
                    field: "InstallationAddress",
                    title: "Адрес"
                },
                {
                    field: "ArticleId",
                    title: "Артикул"
                },
                {
                    field: "Name",
                    title: "Наименование"
                },
                {
                    field: "Price",
                    title: "Цена установки",
                    hidden: true,
                },
                {
                    field: "ServiceMargingArticleId",
                    title: "Артикул доплаты за выезд",
                    hidden: true,
                },
                {
                    field: "ServiceMargingName",
                    title: "Наименование доплаты за выезд",
                    hidden: true,
                },
                {
                    field: "ServiceMargingPrice",
                    title: "Цена доплаты за выезд",
                    hidden: true,
                },
                {
                    field: "InstallStatusDescription",
                    title: "Статус",
                    filterable: {ui:statusFilter}
                },
                {
                    field: "CompleteDate",
                    title: "Дата завершения",
                    format: "{0:dd.MM.yyyy}",
                    filterable: {
                        extra: true,
                        ui: "datepicker"
                    }
                },
                {
                    field: "InstallStatusReason",
                    title: "Причина",
                    filterable: { ui: cancelReasonsFilter }
                },
                { command: { text: "Изменить", click: showUpdateDetails }, title: "" }
            ]
        });

        var exportFlag = false;
        $("#installations").data("kendoGrid").bind("excelExport", function (e) {
            if (!exportFlag) {
                e.sender.showColumn(13);
                e.sender.showColumn(14);
                e.sender.showColumn(15);
                e.sender.showColumn(16);
                e.preventDefault();
                exportFlag = true;
                setTimeout(function () {
                    e.sender.saveAsExcel();
                });
            } else {
                e.sender.hideColumn(13);
                e.sender.hideColumn(14);
                e.sender.hideColumn(15);
                e.sender.hideColumn(16);
                exportFlag = false;
            }
        });

        updateWindow = $("#updateWindow")
            .kendoWindow({
                title: "Обновить",
                modal: true,
                visible: false,
                resizable: false,
                open: function(e) {
                    $("#updateWindow").css("overflow","hidden");
                },
                close: function (e) {
                    $("#installations").data('kendoGrid').dataSource.read();
                    $("#installations").data('kendoGrid').refresh();
                    $("#updateWindow").css("overflow", "hidden");
                },
                width: 500
            }).data("kendoWindow");
    });

    function showUpdateDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        dataItem.update = function(el) {
            el.preventDefault();

            var updateRequest = {
                Id: this.Id,
                NewApprovedDate: this.ApprovedDate != null ? this.ApprovedDate.toISOString() : null,
                NewFactDate: this.FactDate != null ? this.FactDate.toISOString() : null,
                NewInstallationAddress: this.InstallationAddress,
                NewStatus: this.InstallStatus,
                CancelReason: this.InstallStatus === "Canceled" ? this.InstallStatusReason : null
            };

            $.post("@Url.Action("UpdateInstallation", "Installations", new {httproute = ""})", updateRequest)
                .done(function() {
                    updateWindow.close();
                })
                .fail(function() {
                    alert('Не удалось обновить установку');
                });
        };
        $("#status").kendoDropDownList({
            dataSource: dataItem.AvailableStatuses,
            dataTextField: "InstallationStatusText",
            dataValueField: "InstallationStatusValue",
            valuePrimitive: true,
            index: 0,
            enable: true,
            optionLabel: dataItem.InstallStatusDescription,
            select: function(status) {
                var item = status.item;
                if (item.text() == 'Не выполнено') {
                    $('#cancelReasonSelector').show();
                } else {
                    $('#cancelReasonSelector').hide();
                }
            }
        });
        dataItem.showCancelReason = function () {
            return this.InstallStatus == 'Canceled';
        }
        var dropdown = $("#status").data("kendoDropDownList");
        dropdown.enable(dataItem.AvailableStatuses.length > 0);

        var data = [
            { text: "брак", value: "брак" },
            { text: "допработы", value: "допработы" },
            { text: "отказ при выезде", value: "отказ при выезде" },
            { text: "отказ при звонке", value: "отказ при звонке" },
            { text: "отмена заказа", value: "отмена заказа" }
        ];
        $("#cancelReason").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            valuePrimitive: true,
            dataSource: data,
            enable: dataItem.AvailableStatuses.length > 0,
            index: 0,
        });

        var cancelReasonDropdown = $("#cancelReason").data("kendoDropDownList");
        cancelReasonDropdown.enable(dataItem.AvailableStatuses.length > 0);

        var dataItemViewModel = kendo.observable(dataItem);
        kendo.bind('#updateWindow', dataItemViewModel);
        updateWindow.center().open();
        $("#updateWindow").css("overflow", "hidden");
    }
    
    function detailInit(e) {
        var detailRow = e.detailRow;

        detailRow.find(".items").kendoGrid({
            dataSource: {
                transport: {
                    read:
                    {
                        url: "@Url.Action("InstallationDetails", "Installations", new {httproute = ""})",
                        type: "get",
                        data: {
                            orderId: e.data.OrderId,
                            installationArticle: e.data.ArticleId,
                        }
                    }
                },
            },
            scrollable: false,
            sortable: true,
            columns: [
                { field: "Article", title: "Артикул" },
                { field: "Name", title: "Наименование" }
            ]
        });
    }

    var statusDataSource = new kendo.data.DataSource(
        { transport: { read: "@Url.Action("AllStatuses", "Installations", new {httproute = ""})" } });

    var deliveryTypesDataSource = new kendo.data.DataSource(
      { transport: { read: "@Url.Action("AllDeliveryTypes", "Installations", new {httproute = ""})" } });

    var cancelReasonsDataSource = new kendo.data.DataSource(
    { transport: { read: "@Url.Action("AllCancelReasons", "Installations", new {httproute = ""})" } });

    function statusFilter(element) {
        element.kendoDropDownList({
            dataSource: statusDataSource
        });
    }

    function deliveryTypesFilter(element) {
        element.kendoDropDownList({
            dataSource: deliveryTypesDataSource
        });
    }

    function cancelReasonsFilter(element) {
        element.kendoDropDownList({
            dataSource: cancelReasonsDataSource
        });
    }
</script>

<div id="updateWindow" style="display: none; overflow: hidden">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="installationAddress" class="col-sm-2 control-label">Адрес установки:</label>
            <textarea rows="3" cols="50" class="form-control" data-bind="value: InstallationAddress" id="installationAddress"></textarea>
            
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Согласованная дата установки:</label>
            <input data-bind="value: ApprovedDate" data-role="datepicker" class="form-control" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Фактическая дата установки:</label>
            <input data-bind="value: FactDate" data-role="datepicker" class="form-control" />
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Статус: (текущий - <span data-bind="text: InstallStatusDescription"></span>)</label>
            <div id="status" data-bind="value: InstallStatus" class="form-control"></div>
        </div>
        <div class="form-group" style="display: none" id="cancelReasonSelector" data-bind="visible: showCancelReason">
            <label class="col-sm-2 control-label">Выберите причину:</label>
            <div id="cancelReason" data-bind="value: InstallStatusReason" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn" id="btnUpdateWindowSave" data-bind="click: update">Сохранить</button>
            </div>
        </div>
    </form>
</div>

<script type="text/x-kendo-template" id="itemstemplate">
    <div>
        <div class="items"></div>
    </div>
</script>

<div id="installations"></div>
