﻿@{
    ViewBag.Title = "Index";
    var ttIntegrationsUrl = System.Configuration.ConfigurationManager.AppSettings["TtIntegrationUrl"];
}
@section scripts{

    <script type="text/javascript" src="@ttIntegrationsUrl"></script>
    <script type="text/javascript">
        var useLeftFormIntegration = false;
        try {
            document.domain = "mediasaturnrussia.ru"; //TODO
            useLeftFormIntegration = true;
        } catch (e) {
        } 
    $(function() {
        if (!Modernizr.inputtypes.date) {
            $('input[type=date]').each(function(key, val) {
                var $val = $(val);
                if ($val.val()) {
                    var formatDate = moment($val.val()).format("DD.MM.YYYY");
                    $val.val(formatDate);
                    $val.attr("value", "formatDate");
                }
            });
            $('input[type=date]').datepicker({
                language: 'ru',
                weekStart: 1,
                format: 'dd.mm.yyyy'
            });
            $('input[type=date]').attr('readonly', '');
        } else {
            $('input[type=date]').each(function(key, val) {
                var $val = $(val);
                if ($val.attr("value")) {
                    var formatDate = moment($val.attr("value")).format("YYYY-MM-DD");
                    $val.val(formatDate);
                    $val.attr("value", "formatDate");
                }
            });
        };
        $("#PickupInfo_Address").suggestions({
            serviceUrl: "http://suggestions.dadata.ru/suggestions/api/4_1/rs",
            token: "46a3100d43146a259ab485e1dd862f88a14ebe22",
            type: "ADDRESS",
            constraints: false,
            maxHeight: 310,
            onSelect: function(suggestion) {
                var text = '';
                switch (suggestion.data.qc_complete) {
                    case 0:
                        text = 'Пригоден для почтовой рассылки';
                        break;
                    case 1:
                        text = 'Нет региона';
                        break;
                    case 2:
                        text = 'Нет города';
                        break;
                    case 3:
                        text = 'Нет улицы';
                        break;
                    case 4:
                        text = 'Нет дома';
                        break;
                    case 5:
                        text = 'Нет квартиры';
                        break;
                    case 6:
                        text = 'Не пригоден для почтовой рассылки';
                        break;
                    case 7:
                        text = 'Иностранный';
                        break;
                    case 10:
                        text = 'Дом не найден в КЛАДР';
                        break;
                    default:
                }
                $('#PickupInfo_AddressComment').text(text);
                var region = suggestion.data.city
                    ? suggestion.data.city
                    : suggestion.data.region;
                debugger;
                $('#PickupInfo_City').val(region);

            }
        });
    });

    $(document).ready(function() {
        if (!@Model.OutcomeShouldBeValidated.ToString().ToLower() && !useLeftFormIntegration) return;
        TtIntegrations.registerTaskHandlerOnce(function() {
            var result = false;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ValidateAndSaveOrder", "Home")',
                data: $('form').serialize(),
                success: function(data) {
                    result = JSON.parse(data);
                },
                async: false
            });
            if (!result) {
                alert('Проверь форму');
                return false;
            }
            return result;
        },  ['@Html.Raw(string.Join("', '",Model.ValidateIfOutcome.Split(new[]{";"},StringSplitOptions.RemoveEmptyEntries)))']);
    });
    </script>

}
@using Orders.Backend.Clients.CallCenter.MVC.Common
@model OrderItem
<div style="min-width: 450px;">
    @using(Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-horizontal mainForm"}))
    {
        <fieldset>
            @Html.HiddenFor(m => m.IsApproved, new {Value = Model.IsApproved})
            @Html.HiddenFor(m => m.IsFixed, new {Value = Model.IsFixed})
            @Html.HiddenFor(m => m.ReadOnly, new { Value = Model.ReadOnly })
            @Html.HiddenFor(m => m.CanChangeBasket, new { Value = Model.CanChangeBasket })
            @Html.HiddenFor(m => m.CanChangeShipmentType, new { Value = Model.CanChangeShipmentType })
            @Html.HiddenFor(m => m.IsSmart)
            @Html.HiddenFor(m => m.ErrorMessage, new {Value = Model.ErrorMessage})
            @Html.HiddenFor(m => m.ExternalInterface, new {Value = Model.ExternalInterface})
            @Html.HiddenFor(m => m.CampaignId, new {Value = Model.CampaignId})
            @Html.HiddenFor(m => m.ConsumerId, new {Value = Model.ConsumerId})
            @Html.HiddenFor(m => m.OrderId, new {Value = Model.OrderId})
            @Html.HiddenFor(m => m.WWSOrderId, new {Value = Model.WWSOrderId})
            @Html.HiddenFor(m => Model.Comment)
            @Html.HiddenFor(m => Model.ShowArticleStockStatus)
            @if(!String.IsNullOrEmpty(Model.OrderId))
            {
                <h4>Заказ</h4>
                <div class="control-group display">
                    @Html.LabelFor(m => m.OrderId, new {@class = "control-label"})
                    <div class="controls">
                        <div>@Model.OrderId</div>
                    </div>
                </div>
                <div class="control-group display">
                    @Html.LabelFor(m => m.PaymentType, new {@class = "control-label"})
                    <div class="controls">
                        <div>@Model.PaymentType</div>
                    </div>
                </div>
                <div class="control-group display">
                    @Html.LabelFor(m => m.OrderSourceName, new {@class = "control-label"})
                    <div class="controls">
                        <div>@Model.OrderSourceName</div>
                    </div>
                </div>
                if(!String.IsNullOrEmpty(Model.WWSOrderId))
                {
                    <div class="control-group display">
                        @Html.LabelFor(m => m.WWSOrderId, new {@class = "control-label"})
                        <div class="controls">
                            <div>@Model.WWSOrderId</div>
                        </div>
                    </div>
                }
                
                @*if(Model.ReserveInfo!=null)
                {
                    <div class="control-group display">
                        @Html.LabelFor(m => m.ReserveInfo.WWSOrderId, new {@class = "control-label"})
                        <div class="controls">
                            <div>@Model.ReserveInfo.WWSOrderId</div>
                        </div>
                    </div>
                    <div class="control-group display">
                        
                        @Html.LabelFor(m => m.ReserveInfo.Store.Name,"Резерв создан в", new { @class = "control-label" })                                                
                        <div class="controls">
                            <div>@Model.ReserveInfo.Store.SapCode - @Model.ReserveInfo.Store.Name</div>
                        </div>
                    </div>
                }*@
                
                if(!String.IsNullOrEmpty(Model.BoOrderId))
                {
                    <div class="control-group display">
                        @Html.LabelFor(m => m.BoOrderId, new {@class = "control-label"})
                        <div class="controls">
                            <div>@Model.BoOrderId</div>
                        </div>
                    </div>
                }
                if(!string.IsNullOrEmpty(Model.Comment))
                {
                    <div class="control-group display">
                        @Html.LabelFor(m => m.Comment, new {@class = "control-label"})
                        <div class="controls">
                            @Html.Raw(Model.Comment)
                        </div>
                    </div>
                }
                <div class="control-group display">
                    @Html.LabelFor(m => m.NewComment, new {@class = "control-label"})
                    <div class="controls">
                        @Html.EditorFor(m => m.NewComment, new {})
                    </div>
                </div>
            }
            <h4>Корзина</h4>
            @if(!Model.HasArticles)
            {
                <p class="errorText">Пожалуйста, добавьте хотя бы один артикул</p>
            }
            else
            {
                if(!Model.IsApproved && String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <p class="errorText">В артикульный состав заказа были внесены изменения. Пожалуйста, перепроверьте артикульные данные.</p>
                }
                else if(Model.IsApproved && !String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <p class="errorText">Ошибка: @Model.ErrorMessage</p>
                }
                if(Model.AllArticles.Any(m => m.IsWrong || m.IsDataWrong))
                {
                    <p class="errorText">Пожалуйста, проверьте проблемные позиции</p>
                    if(Model.ErrorType == ErrorObject.Article)
                    {
                        <p class="errorText">@Model.ErrorMessage</p>
                    }
                }
                if(Model.ErrorType != ErrorObject.Article && !String.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <p class="errorText">Ошибка: @Model.ErrorMessage</p>
                }
            }   
            @if(Model.IsApproved)
            {
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Позиция</td>
                        <td>Артикул</td>
                        <td>Наименование</td>
                        <td>Количество</td>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.CanChangeBasket)
                    {
                        @Html.EditorForCollection(m => m.BasketArticles)
                    }
                    else
                    {
                        @Html.DisplayForCollection(m => m.BasketArticles)
                    }
                    <tr>
                        <td colspan="3"></td>
                        <td style="font-weight: bold;">Итого</td>
                        <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalPrice) руб.</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            @if (Model.NewArticles.Count == 0 && Model.CanChangeBasket)
            {
                <input data-href="@Url.Action("AddArticle", "Home")" class="submitButton" type="submit" value="Добавить артикул" style="margin-bottom: 10px;"/>
            }            
                    
        </fieldset>
        <fieldset>
            @if(Model.CanChangeBasket)
            {
                @Html.EditorForCollection(m => m.NewArticles)                
            }           
            @Html.EditorFor(m => m.PickupInfo, new { isFixed = Model.IsFixed, canChangeShipmentType = Model.CanChangeShipmentType })             
            @Html.EditorFor(m => m.Customer)
    
        </fieldset>
    <input data-href="@Url.Action("Index", "Home")" style="margin-top: 20px; margin-left:44%" class="submitButton btn btn-danger btn-large text-center" type="submit" value="Сохранить" />
    }
    
   
</div>