﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/kendo/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @*@Scripts.Render("~/bundles/kendoui")*@
        <script src="http://cdn.kendostatic.com/2015.1.408/js/kendo.all.min.js"></script>
        <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.1.408/js/cultures/kendo.culture.ru-RU.min.js"></script>
        @RenderSection("scripts", false)
    </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Услуги", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
</body>
</html>
