﻿@using Orders.Backend.Clients.CallCenter.MVC.Common
@model Orders.Backend.Clients.CallCenter.MVC.Models.OrderItem
<table class="table table-striped">
    <thead>
        <tr>
            <td>Позиция</td>
            <td>Наименование</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForCollection(m => m.ArticleLine)
    </tbody>
</table>
<div>
    Цена доставки: @Model.DeliveryPrice.DeliveryPrice
</div>
<div>
    Цена за подъем: @Model.DeliveryPrice.UpliftPrice
</div>
<div>
    Итого: @Model.DeliveryPrice.UpliftPrice
</div>
<div>
    Информация о доставке: @Model.DeliveryInfo.Type, @Model.DeliveryInfo.DeliveryDate
</div>
<div>
    Информация о заказчике: @Model.Customer.CustomerSurname @Model.Customer.CustomerName @Model.Customer.CustomerLastName, @Model.Customer.MainPhone
</div>