﻿@using Common.Helpers
@model StoreModel
@{
    int index;
    var index2 = 0;
    int.TryParse(ViewData["index"].ToString(), out index);
}
@foreach(var articleStockStatus in Model.ArticleStockStatusInfoItems)
{
    <tr >
        @if(index2 == 0)
        {
            <td rowspan="@(Model.ArticleStockStatusInfoItems.Count)">
                <div style="float: left;">@Html.DisplayFor(m => m.SapCode)</div>
            </td>
        }            
        <td >@(articleStockStatus.Article)</td>
        <td>@(articleStockStatus.StockStatus.GetDisplayValue())</td>
        <td>@(articleStockStatus.Quantity)</td>
        <td>@(articleStockStatus.Price)</td>    
        @if(index2 == 0)
        {
            <td rowspan="@(Model.ArticleStockStatusInfoItems.Count)">
                <a href="#" class="btn btn-lg btn-success"
                   data-toggle="modal"
                   data-target="#wwsInfoModal@(index)">Проверить</a>
                <div class="modal fade" id="wwsInfoModal@(index)" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>@(string.Format("{0} - {1}", Model.SapCode, Model.Name))</h3>
                    </div>
                    <div class="modal-body">
                        <iframe src="@Model.WwsArticleInfoPageUrl" style="zoom: 0.60" frameborder="0" height="250" width="99.6%"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </td>
            index2++;
        }
    </tr>
}