﻿@model Orders.Backend.Admin.Web.Models.OrdersStatModel

@{
    ViewBag.Title = "Заказы";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@Model.VersionText</h2>
            </hgroup>
            @*<p>
                Some text
            </p>*@
        </div>
    </section>
}
<h3>Статистика:</h3>
<ol class="round">
    <li class="one">
        @DisplayStat("Заказы", Model.Statistics.OrdersStatistics)
    </li>
    <li class="two">
        @DisplayStat("Сертификаты", Model.Statistics.CertificateStatistics)
    </li>
</ol>


@helper DisplayStat(string header, ICollection<Orders.Backend.Admin.Web.OrdersAdmin.EntityStatistics> stats)
    {
        <h5>@header</h5>
        if (stats != null && stats.Count > 0)
        {
        <ul>
            @foreach (var item in stats)
            {
		        <li>
                    @item.Name  -  @item.Value
                </li>
            }
        </ul>
        }
    }
