﻿@using Orders.Backend.Clients.CallCenter.MVC.Common
@model Orders.Backend.Clients.CallCenter.MVC.Models.BasketOrderItem
@{
    bool fromCallCenter = false;
    if (ViewData["fromCallCenter"] != null)
    {
        bool.TryParse(ViewData["fromCallCenter"].ToString(), out fromCallCenter);
    }
}
<script type="text/javascript">

    //$(function () {
    //    $.ajax({
    //        url: 'http://localhost/TicketTool.Integration.ZZT.Basket/api/Basket/Validate',
    //        type: 'POST',
    //        data: { CampaignName: 'metro', Articles: [{ ArticleNum: '1111111', Qty: 2, Price: 100.00 }, { ArticleNum: '1222222', Qty: 3, Price: 150.00 }] },
    //        dataType: 'json',
    //        success: function (data) {
    //            console.log(data);
    //        }
    //    });
    //});
</script>
@using (Html.BeginForm("Basket", "Home", FormMethod.Post, new { @class = "form-horizontal mainForm" }))
{
    @Html.EditorFor(m => m.Articles)
    @*<fieldset>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Позиция</td>
                    @if(fromCallCenter)
                    {
                        <td>Артикул</td>
                    }
                    <td>Наименование</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForCollection(m => m.Articles)
                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold;">Итого</td>
                    <td style="font-weight: bold;">@Html.DisplayFor(m => m.TotalPrice)</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    
    @Html.EditorFor(m => m.Customer)
    @Html.EditorFor(m => m.DeliveryInfo)*@
}