﻿@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Авторизация</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" name="Login" id="login" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="Password" id="password" class="form-control" />
    </div>
    <input type="submit" name="Login" />
}
