﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rules Web Client</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>