﻿@using Orders.Backend.Clients.SaleLocationSelector.MVC.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title> 
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")  
    @RenderSection("scripts", required: false) 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body data-approot="@(Request.ApplicationPath == "/" ? string.Empty : Request.ApplicationPath)">
    <div class="container">
        @Html.Raw(LayoutHelper.GetContainer().Header)
        @RenderBody()
        @Html.Raw(LayoutHelper.GetContainer().Footer)
    </div> 
</body>
</html>
