﻿@using System.Text.RegularExpressions
@using Newtonsoft.Json
@model Orders.Backend.Clients.CallCenter.MVC.Models.CallCenter.CallCenterModel

@{
    Layout = null;

    var bunnyCallCentrUrl = System.Configuration.ConfigurationManager.AppSettings["BunnyCallCentrUrl"];
}
<!doctype html>
<html lang="ru">
    <head>
        <title>Тест Корзины | Callcenter</title>
        <meta charset="utf-8">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/callcenter/styles/pcenter.css?v=25")">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/callcenter/styles/callcenter.css?v=25")">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/libraries/jquery-ui/themes/cupertino/jquery-ui.css")">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/callcenter/styles/ui.dynatree.css")">
        <link media="all" type="text/css" rel="stylesheet" href="http://callcenter.mediasaturnrussia.ru/ru-test/css/ui.dynatree.css?version=39c61a9c5f93c25c8f2e1bb09e8de1d0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/libraries/jquery.tablesorter/css/theme.blue.css")">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/libraries/bootstrap-datepicker/css/datepicker.css")">
        <link media="all" type="text/css" rel="stylesheet" href="@(bunnyCallCentrUrl+"/libraries/datetimepicker/jquery.datetimepicker.css")">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
        <script src="@(bunnyCallCentrUrl+"/libraries/jquery-highlight/jquery.highlight.js")"></script>
        <script src="http://ru-bunny.callcenter.mediasaturnrussia.ru/libraries/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="http://ru-bunny.callcenter.mediasaturnrussia.ru/libraries/bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js"></script>
        <script src="//api-maps.yandex.ru/2.1.5/?lang=ru_RU" type="text/javascript"></script>
        <script src="@(bunnyCallCentrUrl+"/libraries/metro-jsapi/metro.js?v=25")"></script>
		<script src="@(bunnyCallCentrUrl+"/callcenter/modules/geolocate.js?v=25")"></script>
        <script src="@(bunnyCallCentrUrl+"/callcenter/modules/map.js?v=25")"></script>
        <script src="@(bunnyCallCentrUrl+"/libraries/jquery.tablesorter/js/jquery.tablesorter.min.js?v=25")"></script>
        <script src="@(bunnyCallCentrUrl+"/libraries/jquery.maskedinput/jquery.maskedinput.js?v=25")"></script>
        <script src="@(bunnyCallCentrUrl+"/libraries/datetimepicker/jquery.datetimepicker.js?v=25")"></script>
    </head>
    <body>
        <div id="main-layout">
            <div class="tmpLayoutHeader">
            </div>

            <div class="tmpLayoutContent">
                <script src="@(bunnyCallCentrUrl+"/callcenter/modules/main.js?v=25")"></script>
                <script src="@(bunnyCallCentrUrl+"/callcenter/modules/basket.js?v=25")"></script>
                <script src="@(bunnyCallCentrUrl+"/callcenter/modules/item.js?v=25")"></script>
                <script src="@(bunnyCallCentrUrl+"/callcenter/modules/tt.js?v=25")"></script>

                <div id="layer-main" class="ui-dialog ui-widget ui-widget-content ui-corner-all">
                    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                        <span id="ui-dialog-title-dialog" class="layer-title ui-dialog-title"></span>
                    </div>
                    <div id="popup-error-block" class="ui-widget" style="width: 100%; display: none;">
                        <div class="ui-state-highlight error ui-corner-all" style="padding: 5px; margin: 4px 0 0 5px; text-align: left;">
                            <strong>Ошибка:</strong>
                            <span id="popup-error"></span>
                        </div>
                    </div>
                    <div class="layer-content ui-dialog-content ui-widget-content" id="layer-main-content" style=""></div>
                </div>

                <script>
                    $(document).ready(function() {
                        var newCallcenterPublicPath = '@(bunnyCallCentrUrl)';
                        var saleLocationId = '@Model.SaleLocationId';
                        var sessionId = '@Model.SessionId';
                        var basketId = '@Model.BasketId';

                        main = new Main(saleLocationId, sessionId, newCallcenterPublicPath, basketId);
                        main.init();

                        item = new Item(saleLocationId, newCallcenterPublicPath, sessionId);
                        item.init();

                        basket = new Basket(saleLocationId, newCallcenterPublicPath);
                        basket.init();

                        main.basket = basket;

                        tt = new TT(basket, main);;
                        tt.init();
                        var orderOptions = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.OrderOptions.LineOptions
                        .ToDictionary(t=>t.Key,el=>Regex.Replace(el.Value.Comment ?? string.Empty, @"\t|\n|\r", ""))))');
                        var editBlocks =  JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.CanEditBlocks)))');
                        var basketComment = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Regex.Replace(Model.OrderOptions.BasketComment ?? string.Empty, @"\t|\n|\r", "")))';

                        //editBlocks = ["delivery"];//"lines", "contacts",
                        tt.showBasket(function (){tt.clearComments();}, basketId, editBlocks, orderOptions, basketComment, function (options) {
                            //console.log('callback after save');
                            saveBasketComments(options, main.currentBasketId, editBlocks);
                        });
                    });
                    function saveBasketComments(options, basketid, editblocks) {
                        if(!commentschanged(options)) return;
                        var postdata=JSON.stringify(options);
                        $.ajax({
                            url:'@Url.Action("UpdateOrderOptions")' ,
                            type: 'POST' ,
                            dataType: 'text',
                            processData: false,
                            contentType: "application/json" ,
                            data: postdata
                        }).done(function(result) {
                            var res=JSON.parse(result);
                            if (res.Result) {
                                var orderoptions=res.LineOptions;
                                var basketcomment=res.BasketComment;
                                tt.showBasket(function () { tt.clearComments(); }, basketid, editblocks, orderoptions, basketcomment, function (opt) {
                                    //console.log('callback after save');
                                    saveBasketComments(opt, main.currentBasketId, editblocks);
                                });
                                return;
                            } else {
                                tt.setError('error during saving order');
                            }
                        })
                        .fail(function(e) {
                            tt.setError('fatal error during saving order');
                        });
                    }
                    function commentschanged(options) {
                        if (!options.orderOptions.newBasketComment) {
                            for (var i=0; i < options.orderOptions.lineOptions.length; i++) {
                                if (options.orderOptions.lineOptions[i].newComment) {
                                    return true;
                                }
                            }

                            return false;
                        }
                        return true;
                    }
                </script>

                <div class="tmpClear"></div>
            </div>

            <div class="tmpLayoutFooter">
                © 2000-2014 Callcenter
            </div>
        </div>
    </body>
</html>