﻿@using OnlineOrders.Common.Helpers
@model Orders.Backend.Clients.CallCenter.MVC.Models.CallCenter.CallCenterModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_emptyLayout.cshtml";
}

<script type="text/javascript">
    document.domain = 'mediasaturnrussia.ru';
</script>
<iframe 
    id="orderFrame" name="orderFrame" 
    src=@string.Format("http://callcenter-new-design.bunny.mediasaturnrussia.ru/basket?sap_code={0}&basket_id={1}&isTT=1&orderOptions={2}", Model.SaleLocationId, Model.BasketId, HttpUtility.UrlEncode(Model.OrderOptions.ToJson()))
    width="100%" height="100%" align="left" style="padding:0; margin: 0; width: 100%; height: 100%; border: none;">
</iframe>
