﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Kendo improvements*/
div.k-tabstrip
{
    background: none transparent;
    border-width: 0;
}
 
div.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}
 
div.k-tabstrip .k-content
{
    margin: 0;
}

div.k-tabstrip .k-content
{
         border-width: 1px 0 0;
}

.spacer {
    margin-top: 20px; /* define margin as you see fit */
}

.spacer10 {
    margin-top: 10px; /* define margin as you see fit */
}
.spacer5 {
    margin-top: 5px; /* define margin as you see fit */
}

#container {
    height: 2000px;
    position: relative;
}

#fixed-div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    position: fixed;
    top: 200px;
    left: 200px;
}