﻿@{
    ViewBag.Title = "Index";
}

<h2>Поиск заказов</h2>
<link href="~/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/styles/kendo.silver.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/kendo.ui.core.min.js"></script>
<script src="http://cdn.kendostatic.com/2014.2.716/js/cultures/kendo.culture.ru-RU.min.js"></script>
<script src="~/Scripts/kendo.tabstrip.min.js"></script>
<script src="~/Scripts/kendo.dropdownlist.min.js"></script>
<script src="~/Scripts/kendo.window.min.js"></script>

<script type="text/javascript">
    kendo.culture("ru-RU");

    $(document).ready(function () {
        kendo.data.binders.date = kendo.data.Binder.extend({
            init: function (element, bindings, options) {
                kendo.data.Binder.fn.init.call(this, element, bindings, options);

                this.dateformat = "dd.MM.yyyy HH:mm";
            },
            refresh: function () {
                var data = this.bindings["date"].get();
                if (data) {
                    var dateObj = new Date(data);
                    $(this.element).text(kendo.toString(dateObj, this.dateformat));
                }
            }
        });

        var viewModel = kendo.observable({
            orderId: "",
            wwsOrderId: "",
            name: "",
            phone: "",
            email: "",
            search: function(e) {
                e.preventDefault();
                $.getJSON('@Url.Action("FindByParameters","Orders", new { httproute = "" })', {
                        orderId: this.get("orderId"),
                        wwsOrderId: this.get("wwsOrderId"),
                        name: this.get("name"),
                        phone: this.get("phone"),
                        email: this.get("email")
                    })
                    .done(function(data) {
                        $('#details').hide();
                        if (data !== null) {
                            var resultViewModel = kendo.observable({
                                showDetails: function(ord) {
                                    showTicktTaskDetailsDetails(ord.data.OrderId);
                                },
                                cancelOrder: function(ord) {
                                    showCancelationForm(ord.data.OrderId);
                                },
                                orders: data.Result,
                                message: data.Message
                            });

                            kendo.bind($("#result"), resultViewModel);
                        } else {
                            appendResult('Заказов по таким параметрам не найдено');
                        }

                    })
                    .fail(function() {
                        appendError('Что-то пошло не так. Попробуйте еще раз или обратитесь к разработчикам');
                    })
                    .always(function() {
                        $('#submit-search').removeAttr('disabled');
                    });

                $('#submit-search').attr('disabled', 'disabled');
            },
            clear: function() {
                var resultViewModel = kendo.observable({
                    showDetails: function(ord) {
                    },
                    cancelOrder: function(ord) {
                    },
                    orders: [],
                    message: ""
                });

                kendo.bind($("#result"), resultViewModel);
            }
        });

        kendo.bind($("#search"), viewModel);

        function appendResult(text) {
            $('#result').text(text);
        }

        function appendError(text) {
            $('#errors').text(text);
        }
    });

    function showTicktTaskDetailsDetails(orderId) {
        $('#details').hide({ duration: 0 });
        $("#details").kendoTabStrip().data("kendoTabStrip").destroy();
        $("#details").kendoTabStrip({
            select: onDetailsSelect,
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        var detailsTab = $("#details").kendoTabStrip().data("kendoTabStrip");
        detailsTab.select(0);
        showStatuses(orderId);
        $('#details').show({ duration: 0 });

        function onDetailsSelect(e) {
            var selectedItem = $(e.item).text().trim();
            switch (selectedItem) {
                case "Статусы":
                    {
                        showStatuses(orderId);
                        break;
                    }
                case "Задачи":
                    {
                        $.getJSON('@Url.Action("GetTicketTasks", "Orders", new {httproute = ""})', {
                            orderId: orderId,
                        })
                            .done(function (data) {
                                var detailsiewModel = kendo.observable({
                                    tickettasks: data
                                });
                                kendo.bind($('#tickettasks'), detailsiewModel);
                            })
                            .error(function (err) {
                                $('#errors').text(JSON.stringify(err));

                            });
                        break;
                    }
                case "История резервов":
                    {
                        $.getJSON('@Url.Action("GetReserveHistory", "Orders", new {httproute = ""})', {
                            orderId: orderId,
                        })
                            .done(function (data) {
                                var detailsiewModel = kendo.observable({
                                    reservehistory: data
                                });
                                kendo.bind($('#reservehistory'), detailsiewModel);
                            })
                            .error(function (err) {
                                $('#errors').text(JSON.stringify(err));

                            });
                        break;
                    }
                case "Строки резерва":
                    {
                        $.getJSON('@Url.Action("GetReserveLines", "Orders", new {httproute = ""})', {
                            orderId: orderId,
                        })
                            .done(function (data) {
                                var detailsiewModel = kendo.observable({
                                    reservelines: data
                                });
                                kendo.bind($('#reservelines'), detailsiewModel);
                            })
                            .error(function (err) {
                                $('#errors').text(JSON.stringify(err));

                            });
                        break;
                    }
                case "Строки заказа":
                    {
                        $.getJSON('@Url.Action("GetOrderLines", "Orders", new {httproute = ""})', {
                            orderId: orderId,
                        })
                            .done(function (data) {
                                var detailsiewModel = kendo.observable({
                                    orderlines: data
                                });
                                kendo.bind($('#orderlines'), detailsiewModel);
                            })
                            .error(function (err) {
                                $('#errors').text(JSON.stringify(err));

                            });
                        break;
                    }
                case "Исходы по магазинам":
                    {
                        $.getJSON('@Url.Action("GetStockLocationOutcomes", "Orders", new {httproute = ""})', {
                            orderId: orderId,
                        })
                            .done(function (data) {
                                var detailsiewModel = kendo.observable({
                                    stockresult: data.Result
                                });
                                kendo.bind($('#stockresult'), detailsiewModel);
                            })
                            .error(function (err) {
                                $('#errors').text(JSON.stringify(err));

                            });
                        break;
                    }
            }
        }
    }

    function showStatuses(orderId) {
        $.getJSON('@Url.Action("GetOrderStatuses", "Orders", new {httproute = ""})', {
            orderId: orderId,
        })
            .done(function (data) {
                var detailsiewModel = kendo.observable({
                    orderstatuses: data
                });
                kendo.bind($('#orderstatuses'), detailsiewModel);

                var cancelViewModel = kendo.observable({
                    click: function () {
                        $.post('@Url.Action("CancelOrder", "Orders", new { httproute = "" })', {
                            orderId: orderId,
                            message: ""
                        }).done(function (res) {
                            alert(res.Success);
                        }).fail(function () {
                            alert('');
                        });
                        //Hi, dll hell!
                    }
                });
                kendo.bind($('#cancelOrder'), cancelViewModel);
            })
            .error(function (err) {
                $('#errors').text(JSON.stringify(err));

            });
    }

    function showCancelationForm(orderId) {
        $('#cancelWindow').show();
        $('#cancelWindow').kendoWindow({
            actions: ["Close"],
            draggable: true,
            height: "100px",
            modal: true,
            resizable: false,
            title: "Отмена заказа",
            width: "500px",
            visible: false
        });

        var cancelReasons = [
            { text: "Витрина", value: "Витрина" },
            { text: "Другое", value: "Другое" },
            { text: "Купил в другом магазине (не ММ)", value: "Купил в другом магазине (не ММ)" },
            { text: "Неверная цена на сайте", value: "Неверная цена на сайте" },
            { text: "Невозможно связаться с покупателеме", value: "Невозможно связаться с покупателем" },
            { text: "Недействительный/ тестовый заказ/ заказ переоформлен", value: "Недействительный/ тестовый заказ/ заказ переоформлен" },
            { text: "Нет в наличии", value: "Нет в наличии" },
            { text: "Ошибка ВВС/ТТ", value: "Ошибка ВВС/ТТ" },
            { text: "Передумал делать покупку", value: "Передумал делать покупку" },
            { text: "Перекуп/ОПТ/Безнал", value: "Перекуп/ОПТ/Безнал" },
            { text: "Товар после ремонта/ сломан/ ожидает возврата поставщику", value: "Товар после ремонта/ сломан/ ожидает возврата поставщику" },
            { text: "Уже купил в ММ", value: "Уже купил в ММ" },
            { text: "Хотел первоначальные условия доставки/самовывоза", value: "Хотел первоначальные условия доставки/самовывоза" },
            { text: "ЯМ: Изменился состав заказа", value: "ЯМ: Изменился состав заказа" }
        ];

        $('#cancelReason').kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: cancelReasons,
            index: 0
        });
        $('#cancelWindow').data("kendoWindow").center().open();

        $('#cancelConfirm').click(function() {
            $('#cancelConfirm').attr('disabled', 'diasbled');
            var cancelReason = $('#cancelReason').val();

            $.post('@Url.Action("CancelOrder", "Orders", new {httproute = ""})', { OrderId: orderId, Message: cancelReason }
                ).done(function(res) {
                        if (res.IsSuccesfull) {
                            alert('Заказ отменен');
                        } else {
                            alert('Не удалось отменить заказ');
                        }
                    }
                ).fail(function() {
                    alert('Не удалось отменить заказ');
                })
                .always(function() {
                    $('#cancelConfirm').removeAttr('disabled', 'diasbled');
                    $('#cancelWindow').hide();
                    var cancelClosedWindow = $("#cancelWindow").data("kendoWindow");
                    cancelClosedWindow.close();
                });
        });
    }
</script>

<form id="search">
    <div class="form-group">
        <label>Номер заказа: <input data-bind="value: orderId" /></label>
        <label>Номер WWS документа: <input data-bind="value: wwsOrderId" /></label>
        <label>ФИО: <input data-bind="value: name" /></label>
        <label>Телефон: <input data-bind="value: phone" /></label>
        <label>Email : <input data-bind="value: email" /></label>
    </div>
    <button data-bind="click: search" id="submit-search" class="btn">Искать</button>
    <button data-bind="click: clear" id="submit-search" class="btn">Очистить</button>
</form>

<script id="row-template" type="text/x-kendo-template">
    <tr>
        <td data-bind="click: showDetails"><a>Детали</a></td>
        <td><button data-bind="click: cancelOrder" id="cancelOrder" class="btn">Отменить заказ</button></td>
        <td data-bind="date: CreateDate"></td>
        <td data-bind="text: OrderSource"></td>
        <td data-bind="text: OrderId"></td>
        <td data-bind="text: WwsOrderId"></td>
        <td data-bind="text: SapCode"></td>
        <td data-bind="text: CustomerName"></td>
        <td data-bind="text: CustomerPhone"></td>
        <td data-bind="text: CustomerEmail"></td>
        <td data-bind="text: DeliveryDescription"></td>
        <td data-bind="text: Address"></td>
        <td data-bind="date: DeliveryDate"></td>
        <td data-bind="text: PaymentTypeDescription"></td>
        <td data-bind="text: OrderStatusDescription"></td>
        <td data-bind="text: TaskName"></td>
    </tr>
</script>

<div id="result" class="table table-striped">
    <span data-bind="source:message"></span>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Создан</th>
                <th>Канал</th>
                <th>Номер заказа (сайт)</th>
                <th>Номер заказа (WWS)</th>
                <th>Магазин</th>
                <th>Клиент</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Самовывоз/доставка</th>
                <th>Адрес</th>
                <th>Дата доставки</th>
                <th>Тип оплаты</th>
                <th>Состояние заказа</th>
                <th>Статус обработки</th>
            </tr>
        </thead>
        <tbody data-template="row-template" data-bind="source: orders"></tbody>
    </table>
</div>

<div id="details" style="display: none">
    <ul>
        <li class="k-state-active">
            Статусы
        </li>
        <li>
            Задачи
        </li>
        <li>
            История резервов
        </li>
        <li>
            Строки резерва
        </li>
        <li>
            Строки заказа
        </li>
        <li>
            Исходы по магазинам
        </li>
    </ul>
    <div>
        <table id="orderstatuses" class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Из</th>
                    <th>В</th>
                    <th>Комментарий</th>
                    <th>Пользователь</th>
                </tr>
            </thead>
            <tbody data-template="status-row-template" data-bind="source: orderstatuses"></tbody>
        </table>
        <script id="status-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="date: UpdateDateTime"></td>
                <td data-bind="text: FromStatusEnum"></td>
                <td data-bind="text: ToStatusEnum"></td>
                <td data-bind="text: ReasonText"></td>
                <td data-bind="text: WhoChanged"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="tickettasks" class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Исход</th>
                    <th>Дата создания</th>
                    <th>Дата завершения</th>
                    <th>Эскалирована</th>
                    <th>Исполнитель</th>
                    <th>Скилсет</th>
                </tr>
            </thead>
            <tbody data-template="tickettasks-row-template" data-bind="source: tickettasks"></tbody>
        </table>
        <script id="tickettasks-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Outcome"></td>
                <td data-bind="date: Created"></td>
                <td data-bind="date: Completed"></td>
                <td data-bind="text: Escalated"></td>
                <td data-bind="text: Performer"></td>
                <td data-bind="text: SkillSet.Name"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="reservehistory" class="table">
            <thead>
                <tr>
                    <th>Статус резерва</th>
                    <th>№ заказа (WWS)</th>
                    <th>Магазин</th>
                </tr>
            </thead>
            <tbody data-template="reservehistory-row-template" data-bind="source: reservehistory"></tbody>
        </table>
        <script id="reservehistory-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ReserveStatusEnum"></td>
                <td data-bind="text: WWSOrderId"></td>
                <td data-bind="text: SapCode"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="reservelines" class="table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Название</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Ответ менеджера</th>
                    <th>Комментарий</th>
                </tr>
            </thead>
            <tbody data-template="reservelines-row-template" data-bind="source: reservelines"></tbody>
        </table>
        <script id="reservelines-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ArticleNum"></td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Qty"></td>
                <td data-bind="text: Price"></td>
                <td data-bind="text: ReviewItemStateEnumStr"></td>
                <td>#if (Comment != null) {# #=Comment# #} else {# #=''# #}#</td>
            </tr>
        </script>
    </div>
    <div>
        <table id="orderlines" class="table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody data-template="orderlines-row-template" data-bind="source: orderlines"></tbody>
        </table>
        <script id="orderlines-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ArticleNum"></td>
                <td data-bind="text: Qty"></td>
                <td data-bind="text: Price"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="stockresult" class="table">
            <thead>
                <tr>
                    <th>Магазин</th>
                    <th>Дата</th>
                    <th>Исход</th>
                    <th>Исполнитель</th>
                </tr>
            </thead>
            <tbody data-template="stockresult-row-template" data-bind="source: stockresult"></tbody>
        </table>
        <script id="stockresult-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: SapCode"></td>
                <td data-bind="date: Created"></td>
                <td data-bind="text: Outcome"></td>
                <td data-bind="text: Performer"></td>
            </tr>
        </script>
    </div>
</div>

<div id="message"></div>

<div id="cancelWindow" style="display: none">
    <span>Причина отмены:</span>
    <input id="cancelReason" />
    <button class="btn" id="cancelConfirm">Отменить</button>
</div>