﻿@{
    ViewBag.Title = "Index";
}

<h2>Поиск заказов</h2>
<link href="~/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/styles/kendo.silver.min.css" rel="stylesheet" />
<link href="~/Content/json.human.css" rel="stylesheet" />
<script src="~/Scripts/kendo.ui.core.min.js"></script>
<script src="http://cdn.kendostatic.com/2014.2.716/js/cultures/kendo.culture.ru-RU.min.js"></script>
<script src="~/Scripts/kendo.tabstrip.min.js"></script>
<script src="~/Scripts/kendo.dropdownlist.min.js"></script>
<script src="~/Scripts/kendo.window.min.js"></script>
<script src="~/Scripts/json.human.js"></script>
<script src="~/Scripts/app.js"></script>

<style type="text/css">
    .cursor_pointer {
        cursor: pointer;
    }

    .dropdown-menu > li > a {
        cursor: pointer;
    }

    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
</style>

<script type="text/javascript">
    (function (FastMonitoring) {
        FastMonitoring.FindByParameters = '@Url.Action("FindByParameters","Orders", new { httproute = "" })';
        FastMonitoring.AssignForMe = '@Url.Action("AssignForMe", "Orders", new {httproute = ""})';
        FastMonitoring.AddComment = '@Url.Action("AddComment", "Orders", new {httproute = ""})';
        FastMonitoring.ChangeReserve = '@Url.Action("ChangeReserve", "Orders", new {httproute = ""})';
        FastMonitoring.UpdateExpirationDate = '@Url.Action("UpdateExpirationDate", "Orders", new {httproute = ""})';
        FastMonitoring.GetTicketTasks = '@Url.Action("GetTicketTasks", "Orders", new {httproute = ""})';
        FastMonitoring.GetReserveHistory = '@Url.Action("GetReserveHistory", "Orders", new {httproute = ""})';
        FastMonitoring.GetReserveLines = '@Url.Action("GetReserveLines", "Orders", new { httproute = "" })';
        FastMonitoring.GetOrderLines = '@Url.Action("GetOrderLines", "Orders", new { httproute = "" })';
        FastMonitoring.GetStockLocationOutcomes = '@Url.Action("GetStockLocationOutcomes", "Orders", new { httproute = "" })';
        FastMonitoring.GetAdditionalInfo = '@Url.Action("GetAdditionalInfo", "Orders", new { httproute = "" })';
        FastMonitoring.GetInstallationServices = '@Url.Action("GetInstallationServices", "Orders", new { httproute = "" })';
        FastMonitoring.GetOrderStatuses = '@Url.Action("GetOrderStatuses", "Orders", new {httproute = ""})';
        FastMonitoring.CancelOrder = '@Url.Action("CancelOrder", "Orders", new { httproute = "" })';
        FastMonitoring.GetTask = '@Url.Action("GetTask", "Orders", new { httproute = "" })';
        FastMonitoring.ApproveOrder = '@Url.Action("ApproveOrder", "Orders", new { httproute = "" })';
        FastMonitoring.GetTaskForFix = '@Url.Action("GetTaskForFix", "Orders", new { httproute = "" })';
        FastMonitoring.FixOrder = '@Url.Action("FixOrder", "Orders", new { httproute = "" })';
    })(window.FastMonitoring = window.FastMonitoring || {});
</script>

<form id="search">
    <div class="form-group">
        <label>Номер заказа: <input data-bind="value: orderId" /></label>
        <label>Номер WWS документа: <input data-bind="value: wwsOrderId" /></label>
        <label>ФИО: <input data-bind="value: name" /></label>
        <label>Телефон: <input id="phoneForSearch" data-role="maskedtextbox" data-mask="+7 (000) 000 00 00" data-bind="value: phone" /></label>
        <label>Email : <input data-bind="value: email" /></label>
    </div>
    <button data-bind="click: search" id="submit-search" class="btn-primary btn">Искать</button>
    <button data-bind="click: clear" id="submit-search" class="btn-primary btn">Очистить</button>
</form>

<script id="row-template" type="text/x-kendo-template">
    <tr>
        <td>
            <button data-bind="click: showDetails" class="btn-block btn-primary btn">Показать детали</button>
            <button data-bind="click: approveOrder, visible:CanApprove" id="approveOrder" class="btn-block btn-primary btn">Подтвердить заказ</button>
            <button data-bind="click: fixOrder, visible:CanFix" id="fixOrder" class="btn-block btn-primary btn">Исправить заказ</button>
            <button data-bind="visible: CanChangeComment,click: changeComment" class="btn-block btn-primary btn">Добавить комментарий</button>
            <button data-bind="visible: CanAssignForMe,click: assignForMe" class="btn-block btn-primary btn">Взять в работу</button>
            <button data-bind="click: cancelOrder, visible:CanCancel" id="cancelOrder" class="btn-block btn-primary btn">Отменить заказ</button>       
            <button data-bind="visible: CanChangeReserve, click: changeReserve" class="btn-block btn-primary btn">Заменить резерв</button>
            <button data-bind="visible: CanUpdateExpirationDate, click: updateExpirationDate" class="btn-block btn-primary btn">Продлить резерв</button>
        </td>
        <td data-bind="text: OrderId"></td>
        <td data-bind="text: WwsOrderId"></td>
        <td data-bind="text: SapCode"></td>
        <td data-bind="text: CustomerName"></td>
        <td data-bind="text: CustomerPhone"></td>
        <td data-bind="text: CustomerEmail"></td>
        <td data-bind="text: DeliveryDescription"></td>
        <td data-bind="text: Address"></td>
        <td data-bind="text: DateAndRequestedTimeslot"></td>
        <td data-bind="text: PaymentTypeDescription"></td>
        <td data-bind="text: OrderStatusDescription"></td>
        <td data-bind="text: TaskName"></td>
        <td data-bind="text: PickupAddress"></td>
        <td data-bind="dateOnly: ExpirationDate"></td>
    </tr> 

</script>

<div id="result" class="table table-striped">
    <span data-bind="source:message"></span>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Номер заказа (сайт)</th>
                <th>Номер заказа (WWS)</th>
                <th>Магазин</th>
                <th>Клиент</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Самовывоз/доставка</th>
                <th>Адрес</th>
                <th>Дата и время доставки</th>
                <th>Тип оплаты</th>
                <th>Состояние заказа</th>
                <th>Статус обработки</th>
                <th>Адрес ТС</th>
                <th>Действителен до</th>
            </tr>
        </thead>
        <tbody data-template="row-template" data-bind="source: orders"></tbody>
    </table>
</div>

<div id="details" style="display: none">
    <ul>
        <li class="k-state-active">
            Статусы
        </li>
        <li>
            Задачи
        </li>
        <li>
            История резервов
        </li>
        <li>
            Строки резерва
        </li>
        <li>
            Строки заказа
        </li>
        <li>
            Исходы по магазинам
        </li>
        <li>
            Статусы установок
        </li>
        <li>
            Дополнительная информация
        </li>
    </ul>
    <div>
        <table id="orderstatuses" class="table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Из</th>
                    <th>В</th>
                    <th>Комментарий</th>
                    <th>Пользователь</th>
                </tr>
            </thead>
            <tbody data-template="status-row-template" data-bind="source: orderstatuses"></tbody>
        </table>
        <script id="status-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="date: UpdateDateTime"></td>
                <td data-bind="text: FromStatusEnum"></td>
                <td data-bind="text: ToStatusEnum"></td>
                <td data-bind="text: ReasonText"></td>
                <td data-bind="text: WhoChanged"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="tickettasks" class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Исход/ Статус команды</th>
                    <th>Описание</th>
                    <th>Дата создания</th>
                    <th>Дата завершения</th>
                    <th>Эскалирована</th>
                    <th>Назначен на</th>
                    <th>Исполнитель</th>
                    <th>Скилсет</th> 
                    <th>Доп. инфо</th>
                </tr>
            </thead>
            <tbody data-template="tickettasks-row-template" data-bind="source: tickettasks"></tbody>
        </table>
        <script id="tickettasks-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: Outcome"></td>
                <td><input data-bind="click: showTask, visible: ShowDescription" type="button" value="Описание" /></td>
                <td data-bind="date: Created"></td>
                <td data-bind="date: Completed"></td>
                <td data-bind="text: Escalated"></td>
                <td data-bind="text: AssignedTo"></td>
                <td data-bind="text: Performer"></td>
                <td data-bind="text: SkillSetName"></td> 
                <td data-bind="text: ReCallInfo"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="reservehistory" class="table">
            <thead>
                <tr>
                    <th>Статус резерва</th>
                    <th>№ заказа (WWS)</th>
                    <th>Магазин</th>
                </tr>
            </thead>
            <tbody data-template="reservehistory-row-template" data-bind="source: reservehistory"></tbody>
        </table>
        <script id="reservehistory-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ReserveStatusEnum"></td>
                <td data-bind="text: WWSOrderId"></td>
                <td data-bind="text: SapCode"></td>
            </tr>
        </script>
    </div>
    <div>
        <div id="reservelines">
            <table class="table">
                <thead>
                    <tr>
                        <th>Артикул</th>
                        <th>Название</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>Ответ менеджера</th>
                        <th>Комментарий</th>
                        <th>Тип артикула</th>
                    </tr>
                </thead>
                <tbody data-template="reservelines-row-template" data-bind="source: reservelines"></tbody>
            </table>
            
            <span>Общая стоимость заказа: </span> <span data-bind="text: totalPrice"></span>
        </div>
        <script id="reservelines-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ArticleNum"></td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Qty"></td>
                <td data-bind="text: Price"></td>
                <td data-bind="text: ReviewItemStateEnumStr"></td>
                <td>#if (Comment != null) {# #=Comment# #} else {# #=''# #}#</td>
                <td data-bind="text: ArticleProductTypeEnumStr"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="orderlines" class="table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody data-template="orderlines-row-template" data-bind="source: orderlines"></tbody>
        </table>
        <script id="orderlines-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ArticleNum"></td>
                <td data-bind="text: Qty"></td>
                <td data-bind="text: Price"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="stockresult" class="table">
            <thead>
                <tr>
                    <th>Магазин</th>
                    <th>Дата</th>
                    <th>Исход</th>
                    <th>Исполнитель</th>
                </tr>
            </thead>
            <tbody data-template="stockresult-row-template" data-bind="source: stockresult"></tbody>
        </table>
        <script id="stockresult-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: SapCode"></td>
                <td data-bind="date: Created"></td>
                <td data-bind="text: Outcome"></td>
                <td data-bind="text: Performer"></td>
            </tr>
        </script>
    </div>
    <div>
        <table id="installation-services" class="table">
            <thead>
                <tr>
                    <th>Артикул</th>
                    <th>Согласованная дата</th>
                    <th>Фактическая дата</th>
                    <th>Относится к</th>
                    <th>Статус</th>
                    <th>Причина отмены</th>
                </tr>
            </thead>
            <tbody data-template="installation-service-row-template" data-bind="source: installationsServices"></tbody>
        </table>
        <script id="installation-service-row-template" type="text/x-kendo-template">
            <tr>
                <td data-bind="text: ArticleId"></td>
                <td data-bind="dateOnly: ApprovedDate"></td>
                <td data-bind="dateOnly: FactDate"></td>
                <td data-bind="text: ReferToArticle"></td>
                <td data-bind="text: Status"></td>
                <td data-bind="text: StatusReason"></td>
            </tr>
        </script>
    </div>
    <div>
        <div id="additional-info">
            <div>
                <label>BasketId: </label>
                <span data-bind="text: BasketId"></span>
            </div>
            <div>
                <label>Источник заказа: </label>
                <span data-bind="text: OrderSource"></span>
            </div>
            <div>
                <label>Комментарий (время отличается на -2 часа): </label>
                <div class="spacer5"></div>
                <span data-bind="html: Comment"></span>
            </div>
            <div data-bind="visible: ExpirationDatePostponed">
                <label>Заказ был продлен до: </label>
                <span data-bind="date: ExpirationDate"></span>
            </div>
        </div>
    </div>
</div>

<script id="approve-order-template" type="text/x-kendo-template">
    <div class="container1">
        <div>
            <iframe name="orderFrame"  id="order-content" src="#: taskUrl #" width="100%" height="600px"></iframe>
        </div>
        <div class="fixed-div">
            <button class="submitButton btn btn-success btn-lg text-center" id="approveOrderConfirm" style="margin-top: 20px; margin-bottom: 20px; margin-left:41.5%;">Подтвердить</button>
        </div>
    </div>
</script>

<div id="message"></div>

<div id="description"></div>

<div id="cancelWindow" style="display: none">
    <span>Причина отмены:</span>
    <input id="cancelReason" />
    <button class="btn" id="cancelConfirm">Отменить</button>
</div>

<div id="approveWindow" style="display: none">
</div>

<div id="changeCommentWindow" style="display: none">
    <span>Комментарий:</span>
    <textarea rows="3" cols="50" data-bind="value: comment"></textarea>
    <button class="btn" data-bind="click: save">Добавить</button>
</div>

<div id="assignForMeWindow" style="display: none">
    <span>Открыть заказ ?</span>
    <button class="btn" data-bind="click: save">Да</button>
</div>  

<div id="changeReserveWindow" style="display: none">
    <span>Номер заказа wws:</span>
    <input id="wwsOrderId" data-bind="value: wwsOrderId" />
    <button class="btn" data-bind="click: save">Заменить</button>
</div>

<div id="updateOrderExpirationWindow" style="display: none">
    <span>На сколько дней продлить:</span>
    <input id="daysToExpire" data-bind="value: daysToExpire" data-format="n0" data-role="numerictextbox" data-min="1" data-max="7" />
    <button class="btn" data-bind="click: save, disabled: updating">Продлить</button>
</div>