﻿@using Orders.Backend.Clients.CallCenter.MVC.Common
@model Orders.Backend.Clients.CallCenter.MVC.Models.ArticleLineItem
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
<tr class="@(Model.IsWrong || Model.IsDataWrong ? "errorLine" : "") @(Model.IsAbsent ? "absentLine" : "")">
    <td>
        <div style="float: left;">@(index + 1)</div>
    </td>
    <td>@Html.DisplayFor(m => m.ArticleNum)</td>
    <td>@Html.DisplayFor(m => m.Description)</td>
    <td>
        @if(Model.Type != ArticleType.Service)
        {
            <a style="float: left;" data-href="@Url.Action("SubQty", "Home", new {index})" class="customLink submitButton ui-red ui-icon ui-icon-minusthick"></a>
            <span style="float: left; margin: 0px 10px;">@Model.Qty</span>
            <a style="float: left;" data-href="@Url.Action("AddQty", "Home", new {index})" class="customLink submitButton ui-green ui-icon ui-icon-plusthick"></a>
        }
    </td>
    <td>@String.Format("{0:0.00}", Model.Price) руб.</td>
    <td>
        @Html.HiddenFor(m => Model.State)
        @Html.HiddenFor(m => Model.Comment)
        @Html.HiddenFor(m => Model.IsAbsent)
        @Html.HiddenFor(m => Model.IsWrong)
        @Html.HiddenFor(m => Model.Type)
        @Html.HiddenFor(m => Model.LineId)
        @Html.HiddenFor(m => Model.ArticleNum)
        @Html.HiddenFor(m => Model.Description)
        @Html.HiddenFor(m => Model.Qty)
        @Html.HiddenFor(m => Model.Price)
        <a style="float: right;" data-href="@Url.Action("DeleteBasketArticle", "Home", new {index})" class="customLink submitButton ui-red ui-icon ui-icon-closethick" />
    </td>
</tr>

@{
    <tr>
        <td colspan="7">
            @if(!String.IsNullOrEmpty(Model.StateName))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.StateName, new {@class = "control-label"})
                    <div class="controls">
                        @Html.DisplayFor(m => m.StateName)
                    </div>
                </div>
            }            
            @if(!string.IsNullOrEmpty(Model.Comment))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.Comment, new {@class = "control-label"})
                    <div class="controls">
                        @Html.Raw(Model.Comment)                        
                    </div>
                </div>
            }                
            <div class="control-group display">
                @Html.LabelFor(m => m.NewComment, new {@class = "control-label"})
                <div class="controls">
                    @Html.EditorFor(m => m.NewComment, new {})                        
                </div>
            </div>
            
        </td>
    </tr>
}