﻿
@model Orders.Backend.Clients.CallCenter.MVC.Models.CustomerItem
<h4>Заказчик</h4>
@Html.HiddenFor(m => m.CustomerId)
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.CustomerSurname)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.CustomerSurname)
        @Html.ValidationMessageFor(m => m.CustomerSurname)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.CustomerName)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.CustomerName)
        @Html.ValidationMessageFor(m => m.CustomerName)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
</div>
<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m => m.MainPhone)
    </div>
    <div class="controls">
        @Html.TextBoxFor(m => m.MainPhone, new { @class = "keyfilter-phone" })
        @Html.ValidationMessageFor(m => m.MainPhone)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(m => m.OptionalPhones, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m.OptionalPhones)
    </div>
</div>