﻿@using Orders.Backend.Clients.CallCenter.MVC.Common
@model PickupInfoItem
<h4>Способ получения</h4>
@{
    bool isFixed = false;
    if (ViewData["isFixed"] != null)
    {
        bool.TryParse(ViewData["isFixed"].ToString(), out isFixed);
    }

    bool canChangeShipmentType = false;
    if (ViewData["canChangeShipmentType"] != null)
    {
        bool.TryParse(ViewData["canChangeShipmentType"].ToString(), out canChangeShipmentType);
    }
}
@Html.HiddenFor(m => m.SapCode)
@Html.HiddenFor(m => m.Name)
@Html.HiddenFor(m => m.OriginalSapCode)
@Html.HiddenFor(m => m.OriginalName)
@Html.HiddenFor(m => m.ReserveSapCode)
@Html.HiddenFor(m => m.ReserveName)
@Html.HiddenFor(m => m.ShowArticleStockStatus)
@Html.HiddenFor(m => m.TransferAgreementWithCustomer)


@Html.HiddenFor(m => m.ZIPCode)
@Html.HiddenFor(m => m.Region)
@Html.HiddenFor(m => m.Street)
@Html.HiddenFor(m => m.StreetAbbr)
@Html.HiddenFor(m => m.House)
@Html.HiddenFor(m => m.Housing)
@Html.HiddenFor(m => m.Building)
@Html.HiddenFor(m => m.Apartment)
@Html.HiddenFor(m => m.District)
@Html.HiddenFor(m => m.Entrance)
@Html.HiddenFor(m => m.EntranceCode)
@Html.HiddenFor(m => m.Kladr)
@Html.HiddenFor(m => m.Floor)

<div class="control-group">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;"></div>
        @Html.LabelFor(m => m.PickupType)
    </div>
    <div class="controls">
        @if(canChangeShipmentType)
        {
            @Html.DropDownListFor(m => m.PickupType, Model.PickupTypes)
            @Html.ValidationMessageFor(m => m.PickupType)
        }
        else
        {
            <div style="display: none;">
                @Html.DropDownListFor(m => m.PickupType, Model.PickupTypes)
                @Html.ValidationMessageFor(m => m.PickupType)
            </div>
            @Html.DisplayFor(m => m.PickupTypeName)
        }
 
        
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.OriginalSapCode))
{
    <div class="control-group display storePlace" style="display: none;">
        <div class="control-label">
            @Html.LabelFor(m => m.OriginalSapCode, "Исходная точка самовывоза")
        </div>
        <div class="controls">
            @*<span style='color: red; text-decoration: line-through; margin-right: 10px;'>*@
            <span style='color: black;'>@Html.DisplayFor(m => m.OriginalSapCode) - @Html.DisplayFor(m => m.OriginalName)</span>
            @*</span>*@
            @*<b style="color: red;">Внимание, возможно изменение способа получения заказа!</b>*@
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Model.ReserveSapCode))
{
    <div class="control-group display storePlace">
        <div class="control-label">
            @Html.LabelFor(m => m.ReserveSapCode,"Подтверждено наличие в ")
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.ReserveSapCode)
            -
            @Html.DisplayFor(m => m.ReserveName)
        </div>
    </div>
}
<div class="control-group display storePlace">
    <div class="control-label">
        @Html.LabelFor(m => m.NewSapCode, "Текущая точка самовывоза")
    </div>
    <div class="controls">          
        @Html.DropDownListFor(m => m.NewSapCode, Model.AllCityPuPStores.Select(s => new SelectListItem { Value = s.SapCode, Text = string.Format("{0} - {1}", s.SapCode, s.Name) })) 
        
        @if (Model.NeedTransfer && Model.ShowArticleStockStatus)
        {
            <span>
                <b style="color: red;">В выбранном магазине заказа нет в наличии. Предложите другую точку самовывоза, предложите трансфер, измените способ получения на доставку, либо удалите проблемные позиции.</b>
            </span>
        }
        @if(Model.AllCityStores.First(c=>c.SapCode==Model.SapCode).IsVirtual)
        {
            <span>
                <b style="color: red;">Внимание!Выбран виртуальный магазин!</b>
            </span>
        }
        @if(!Model.AllCityStores.First(c=>c.SapCode==Model.SapCode).IsActive)
        {
            <span>
                <b style="color: red;">Внимание!Выбран отключенный магазин!</b>
            </span>
        }
    </div>    
    @if(Model.ShowArticleStockStatus)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Магазин</td>
                    <td>Артикулы</td>
                    <td>Наличие</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @Html.EditorForCollection(m => m.AllCityPuPStores)            
            </tbody>
        </table>
    }
</div>

<div class="control-group deliveryPlace">
    <div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m=>m.Address)
    </div>
    <div class="controls">
        @Html.EditorFor(m=>m.Address)
        @Html.ValidationMessageFor(m=>m.Address)
        <span id="PickupInfo_AddressComment"></span>
    </div>
</div>
<div class="control-group deliveryPlace">
    @*<div class="control-label">
        <div style="float:right; padding-left: 5px;">*</div>
        @Html.LabelFor(m=>m.City)
    </div>*@
    <div class="controls">
        @Html.HiddenFor(m=>m.City)
        @*@Html.ValidationMessageFor(m=>m.City)*@
    </div>
    @*<div class="control-group">
        <div class="control-label">
            <div style="float: right; padding-left: 5px;"></div>
            @Html.LabelFor(m => m.RequestedDeliveryDate)
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.RequestedDeliveryDate)
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <div style="float: right; padding-left: 5px;"></div>
            @Html.LabelFor(m => m.RequestedDeliveryTimeSlot)
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.RequestedDeliveryTimeSlot)
        </div>
    </div>*@
    </div>

@if(Model.AllCityHubStores != null && Model.AllCityHubStores.Any())
{
    <div class="control-group deliveryPlace">
        <div class="control-label">
            <div style="float: right; padding-left: 5px;"></div>
            @Html.LabelFor(m => m.DeliveryDate)
        </div>
        <div class="controls">
            @Html.EditorFor(m => m.DeliveryDate)
            @Html.ValidationMessageFor(m => m.DeliveryDate)
            <span id="PickupInfo_AddressComment"></span>
        </div>
    </div>
}
@if(Model.AnyStockInHub)
{    

    <div class="control-group deliveryPlace">        
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Магазин</td>
                    <td>Артикулы</td>
                    <td>Наличие</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @Html.EditorForCollection(m => m.AllCityHubStores)
            </tbody>
        </table>    
    </div>
}