﻿@using Common.Helpers
@model StoreModel
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
@if (!Model.IsVirtual&&Model.IsActive)
{
    <tr class="@(
        Model.IsSlow ||
        Model.IsVirtual ||
        Model.ArticleStockStatusInfoItems.Any(a => a.StockStatus != StockStatus.InStock ||
                                                   a.Quantity < a.RequiredQuantity) ? "errorLine" : "")">
        <td rowspan="@(Model.ArticleStockStatusInfoItems.Count + 1)">
            <div style="float: left;">@Html.DisplayFor(m => m.SapCode)</div>
        </td>

    </tr>
    foreach(var articleStockStatus in Model.ArticleStockStatusInfoItems)
    {
        <tr class="@(articleStockStatus.StockStatus != StockStatus.InStock || articleStockStatus.Quantity < articleStockStatus.RequiredQuantity ? "errorLine" : "")">
            <td class="">@(articleStockStatus.Article)</td>
            <td>@(articleStockStatus.StockStatus.GetDisplayValue())</td>
            <td>@(articleStockStatus.Quantity)</td>
            <td>@(articleStockStatus.Price)</td>
        </tr>
    }
}