﻿td > .mdl-textfield {
    padding: 0 0 8px 0;
}
td > .mdl-textfield.is-invalid {
    padding: 0 0 24px 0;
}
td > .mdl-textfield > .mdl-textfield__label {
    top: 4px;
}
td > .mdl-textfield > .mdl-textfield__error {
    left: 0;
    top: 24px;
}

.mdl-data-table td .mdl-button {
    margin-top: -9px;
}