﻿@using GridMvc.Html
@model IEnumerable<Orders.Backend.Clients.SaleLocationSelector.MVC.ViewModel.SaleLocationViewModel>

@{
    ViewBag.Title = "Интернет магазины"; 
}
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<h2>@ViewBag.Title</h2>
<div>
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.SapCode).Titled("Код магазина").Filterable(true);
        columns.Add(c => c.Name).Titled("Название").Filterable(true);
        columns.Add(c => c.StockLocationSelectorStrategy).Titled("Стратегия выбора магазина").Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(x => @<input type="button" class="btn btn-success" id=" edititem" name="editItem" value="Редактировать" onclick="location.href='@Url.Action("StockLocations", "Shop", new { sapCode = x.SapCode, strategyType = x.StrategyType})'">);

    }).Sortable().WithMultipleFilters() 
</div>

<br />
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gridmvc")
}

