﻿@using System.Web.Mvc.Html 
@model Orders.Backend.Clients.SaleLocationSelector.MVC.ViewModel.NewStockLocationRatingViewModel

@{
    ViewBag.Title = "Рейтинг";
   
}  

@*<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />*@

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Craete", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.HiddenFor(m=>m.StrategyType)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.LabelFor(m => m.SaleLocation.SapCode, new { @class = "" })  <br/>
                    @Html.TextBoxFor(m => m.SaleLocation.SapCode, new { @class = " ", @style = "width: 100%;", @readonly = "readonly" }) 
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SaleLocation.Name, new { @class = "" })   <br />
                    @Html.TextBoxFor(m => m.SaleLocation.Name, new { @class = "", @readonly = "readonly",  @style = "width: 100%;"}) 
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Rate, new { @class = "" }) <br /> 
                    @Html.TextBoxFor(m => m.Rate, new { @class = "" }) <br />
                    @Html.ValidationMessageFor(m => m.Rate, "", new { @class = "text-danger" })
                  
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Capacity, new { @class = "" }) <br />
                    @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(m => m.Capacity, "", new { @class = "text-danger" }) 
                  
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.AvaliableStockLocations, new { @class = "" })<br/> 
                    @Html.DropDownListFor(m => m.StockLocationSapCode, Model.AvaliableStockLocations, new { @style = "width: 100%;" })<br /> 
                    @Html.ValidationMessageFor(m => m.StockLocationSapCode, "", new { @class = "text-danger" })
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(m => m.ShippingMethods, new { @class = "" })<br /> 
                        <div class="">
                           @Html.CheckBoxListFor(x => x.ShippingMethods.PostedMethods.MethodIDs,
                                                      x => x.ShippingMethods.AvailableMethods,
                                                      x => x.Id,
                                                      x => x.Name,
                                                      x =>x.IsSelected)
                        </div>
                    </div>

                <div class="form-group">
                    <div class="">
                       <input type="submit" value="Сохранить" class="btn btn-success" /> &nbsp;
                       <input type="button" value="Отмена" class="btn" onclick="location.href='@Url.Action("StockLocations", "Shop",new {sapCode = Model.SaleLocationSapCode, strategyType = Model.StrategyType})'" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>  
@*, new { sapCode = ViewBag.VirtualShopSapCod })*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}