﻿@model StockLocationSelectorChangeType
@using System.Web.Mvc.Html
@using GridMvc.Html
@using Orders.Backend.Clients.SaleLocationSelector.MVC.Common
@using Orders.Backend.Clients.SaleLocationSelector.MVC.ViewModel
@{
    ViewBag.Title = "Рейтиг магазинов";
} 


<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<div>
    <h4>Тип обработки заказов:</h4>

    <div class="form-group ">
        @using (Html.BeginForm("EditSaleLacationSelectorType", "Shop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Hidden("sapCode",Model.SaleLocationSapCode)
            @Html.DropDownList("strategyType", Model.SelelctedStrategyType.ToSelectList(), new { @class = "choose-selected",  @style = "width: 100%;"  }) 
            <input type="submit" value="Сохранить" class="btn btn btn-info" />
        }
     
    </div>
</div>

<br/>
<h3>@ViewBag.Title</h3>
<div>
    @using (Html.BeginForm("EditRating", "Shop", new { sapCode = Model.SaleLocationSapCode, strategyType = Model.SelelctedStrategyType }, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.Grid(Model.StocksLocationsRatingViewModel).Columns(columns =>
        {
            columns.Add(c => c.StockInfo.Id, true);
            columns.Add(c => c.StockInfo.StockLocation.SapCode).Titled("Код").Filterable(true);
            columns.Add(c => c.StockInfo.StockLocation.Name).Titled("Название").SetWidth(70).Filterable(true);
            columns.Add(c => c.Delivery).Titled("Доставка").Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(x => Html.CheckBox("Delivery", x.Delivery));
            columns.Add(c => c.PickupShop).Titled("Самовывоз из магазина").Filterable(true).Encoded(false).Sanitized(false).RenderValueAs(x => Html.CheckBox("PickupShop", x.PickupShop));
            columns.Add(c => c.PickupExternal).Titled("Самовывоз из постаматов").Encoded(false).Sanitized(false).RenderValueAs(x => Html.CheckBox("PickupExternal", x.PickupExternal));
            columns.Add(c => c.StockInfo.Rate).Titled("Рейтинг").Filterable(true);
            columns.Add(c => c.NewRate).Titled("Новый рейтинг").Encoded(false).Sanitized(false).RenderValueAs(x => @<input type="text" class="form-control" value="@x.NewRate" />);
            columns.Add(c => c.StockInfo.Capacity).Titled("Мощность").Filterable(true);
            columns.Add(c => c.NewCapacity).Titled("Новая мощность").Encoded(false).Sanitized(false).RenderValueAs(x => @<input type="text" class="form-control" value="@x.NewCapacity" />);
            columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(x => @<a class="btn" onclick="return confirm('Удалить точку продаж с кодом @(x.StockInfo.StockLocation.SapCode)?');" href="@Url.Action("Delete", "Shop", new { stockId = x.StockInfo.Id, sapCode = Model.SaleLocationSapCode, strategyType = Model.SelelctedStrategyType })">Удалить</a>);
        }).Sortable().WithMultipleFilters()

        <br />
        <br />
        <div class="form-group ">
            <input type="button" value="Добавить новый" class="btn btn-success" onclick="location.href = '@Url.Action("NewStockLocationForSaleLocation", "Shop", new { sapCode = Model.SaleLocationSapCode, strategyType = Model.SelelctedStrategyType })' " />
            @if (Model != null && Model.StocksLocationsRatingViewModel != null && Model.StocksLocationsRatingViewModel.Any())
            {
                <input type="submit" value="Сохранить" class="btn btn-success" />
            }
            <input type="button" value="Отмена" class="btn" onclick="location.href = '@Url.Action("Index", "Shop")' " />
        </div>
    }

</div> 

<br />
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gridmvc")

    <script type="text/javascript">

        $(function() {
            addNameAttrForTable();
        });

        function addNameAttrForTable() {
            var i = 0;
            $('.table > tbody > tr').each(function() {
                $('td', $(this)).each(function(index, td) {
                    var attr = $(td).attr('data-name');
                    var s = attr.substring(attr.lastIndexOf(".") + 1, attr.length);
                    var attrVal = '[' + i + '].' + s;

                    var $input = $(this).find('input');
                    if ($input.length > 0) {
                        $input.attr('name', attrVal);
                    }
                    else {
                        var data = $(td).text();                        
                        $(this).append($('<input/>', {
                            type: 'hidden',
                            name: attrVal,
                            value: data
                        }));
                    }
                });
                i++;
            });
        }


    </script>
}