﻿@using Orders.Backend.Clients.CallCenter.MVC.Common
@model Orders.Backend.Clients.CallCenter.MVC.Models.Transfer.CreateTransferModel
@{
    ViewBag.Title = "Трансфер";
}
<div style="min-width:450px;">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal mainForm" }))
    {
        <fieldset>
            @if (!String.IsNullOrEmpty(Model.OrderId))
            {
                <h4>Заказ</h4>
                <div class="control-group display">
                    @Html.LabelFor(m => m.OrderId, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.OrderId)
                    </div>
                </div>                
                if (!String.IsNullOrEmpty(Model.WWSOrderId))
                {
                    <div class="control-group display">
                        @Html.LabelFor(m => m.WWSOrderId, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DisplayFor(m => m.WWSOrderId)
                        </div>
                    </div>
                }
                <div class="control-group display">
                    @Html.LabelFor(m => m.Store.SapCode, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.Store.SapCode)
                    </div>
                </div>
                <div class="control-group display">
                    @Html.LabelFor(m => m.Store.Name, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.Store.Name)
                    </div>
                </div>
            }
            <h4>Корзина</h4>            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Позиция</td>
                        <td>Артикул</td>
                        <td>Наименование</td>
                        <td>Количество</td>
                        <td>Цена</td>                        
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayForCollection(m => m.BasketArticles)                    
                </tbody>
            </table>
            <h4>Остатки в магазинах</h4>
            @if(Model.CityStores.Count() != 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Магазин</td>
                            <td>Артикулы</td>
                            <td>Наличие</td>
                            <td>Количество</td>
                            <td>Цена</td>
                            <td>Цена нетто</td>                            
                        </tr>
                    </thead>
                    <tbody>
                        @Html.DisplayForCollection(m => m.CityStores)
                    </tbody>
                </table>
            }
            else
            {
                <h5>Остатков нет ни в одном магазине</h5>
            }
        </fieldset>    
    }        
        
</div>