﻿@model Orders.Backend.Clients.CallCenter.MVC.Models.Transfer.WwsArticleInfoModel

@{
    ViewBag.Title = "Цены закупки";    
}

<h4>Цены закупки</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Артикул</td>
            <td>Цена закупки</td>            
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach(var article in Model.WwsArticleInfos)
        {
            <tr >
            <td class="">@(article.Article)</td>
            <td>@(article.NettoPrice)</td>            
        </tr>
        }
    </tbody>
</table>

