﻿@model Orders.Backend.Clients.CallCenter.MVC.BasketServiceLink.PickupPoint[]

<div id="pickupMapDialog">
    <div>
        <div style="float:left; margin-top:5px; margin-right: 10px;">Адрес</div>
        <input style="float:left;" type="text" class="pickupAddress" />
        <input style="margin-top:2px; margin-left: 5px;" type="submit" class="pickupSubmit" value="Найти"/> 
    </div>
    <div id="pickupYandexMap">
        <img style="margin-top:20px;" src='@Url.Content("~/Content/Images/ajax-loader.gif")' />
    </div>
    <div style="font-weight:bold; margin-bottom: 5px;">Расстояние в километрах</div>
    <div style="max-height:200px; overflow:auto;">
        @foreach(var elem in Model)
        {
            <div data-kilos="" data-sapCode="@elem.SapCode" class="pointDescription well">
                <div class="customInlineBlock" style="width: 5%;">
                    <input type="radio" class="pickupRadio" name="pickupRadio" value="@elem.SapCode" style="margin:0px 5px;"/>
                    <input type="hidden" class="pointLatitude" value="@elem.Latitude"/> 
                <input type="hidden" class="pointLongitude" value="@elem.Longitude"/> 
                </div>
                <div class="customInlineBlock" style="width: 80%;">
                    <span>@elem.SapCode - @elem.Name</span>
                    <br />
                    <span>@elem.Address</span>
                    <br />
                    <span>@elem.WorkTime</span>
                </div>
                <div class="customInlineBlock" style="width: 10%;text-align: right;">
                    <span class="pointKilos"></span>
                </div>
            </div>
        }
    </div>
</div>