﻿@model Orders.Backend.Clients.CallCenter.MVC.Models.ArticleLineItem
@{
    int index;
    int.TryParse(ViewData["index"].ToString(), out index);
}
<tr>
    @Html.HiddenFor(m => Model.State)
    @Html.HiddenFor(m => Model.Comment)
    @Html.HiddenFor(m => Model.IsAbsent)
    @Html.HiddenFor(m => Model.IsWrong)
    @Html.HiddenFor(m => Model.Type)
    @Html.HiddenFor(m => Model.LineId)
    @Html.HiddenFor(m => Model.ArticleNum)
    @Html.HiddenFor(m => Model.Description)
    @Html.HiddenFor(m => Model.Qty)
    @Html.HiddenFor(m => Model.Price)
    <td>
        <div style="float:left;">@(index + 1)</div>
    </td>
    <td>@Html.DisplayFor(m => m.ArticleNum)</td>
    <td>@Html.DisplayFor(m=> m.Description)</td>
    <td>
        <span style="float:left; margin: 0px 10px;">@Model.Qty</span>
    </td>
    <td>@String.Format("{0:0.00}", Model.Price) руб.</td>
    <td>
    </td>
</tr>
@if(!String.IsNullOrEmpty(Model.Comment) || !String.IsNullOrEmpty(Model.StateName))
{
    <tr>
        <td colspan="7">
            @if (!String.IsNullOrEmpty(Model.StateName))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.StateName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DisplayFor(m => m.StateName)
                    </div>
                </div>
            }
            @if(!String.IsNullOrEmpty(Model.Comment))
            {
                <div class="control-group display">
                    @Html.LabelFor(m => m.Comment, new { @class = "control-label" })
                    <div class="controls">
                        <div class="expandableComment">
                            <div class="expandableIcon ui-icon ui-icon-triangle-1-s"> </div>
                        @Html.Raw(Model.Comment)
                        </div>
                    </div>
                </div>
            }
        </td>
    </tr>
}