﻿
@model Orders.Backend.Clients.CallCenter.MVC.Models.CustomerItem
<h4>Заказчик</h4>
<div class="control-group display">
    @Html.LabelFor(m => m.CustomerSurname, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.CustomerSurname)
    </div>
</div> 
<div class="control-group display">
    @Html.LabelFor(m => m.CustomerName, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.CustomerName)
    </div>
</div> 
<div class="control-group display">
    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.Email)
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.MainPhone, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.MainPhone, new { @class = "keyfilter-phone" })
    </div>
</div>
<div class="control-group display">
    @Html.LabelFor(m => m.OptionalPhones, new { @class = "control-label" })
    <div class="controls">
        @Html.DisplayFor(m => m.OptionalPhones)
    </div>
</div>