﻿@using Orders.Backend.Clients.CallCenter.MVC.Common
@model PickupInfoItem
<h4>Способ получения</h4>
@{
    bool isFixed;
    if(ViewData["isFixed"] != null)
    {
        bool.TryParse(ViewData["isFixed"].ToString(), out isFixed);
    }
}

@Html.HiddenFor(m => m.SapCode)
@Html.HiddenFor(m => m.PickupType)
@Html.HiddenFor(m => m.City)
@Html.HiddenFor(m => m.Address)
@Html.HiddenFor(m => m.ShowArticleStockStatus)
@Html.HiddenFor(m => m.TransferAgreementWithCustomer)
@Html.HiddenFor(m => m.SapCode)
@Html.HiddenFor(m => m.Name)
@Html.HiddenFor(m => m.OriginalSapCode)
@Html.HiddenFor(m => m.OriginalName)
@Html.HiddenFor(m => m.ReserveSapCode)
@Html.HiddenFor(m => m.ReserveName)
@Html.HiddenFor(m => m.ShowArticleStockStatus)
@Html.HiddenFor(m => m.TransferAgreementWithCustomer)
@Html.HiddenFor(m => m.ZIPCode)
@Html.HiddenFor(m => m.Region)
@Html.HiddenFor(m => m.Street)
@Html.HiddenFor(m => m.StreetAbbr)
@Html.HiddenFor(m => m.House)
@Html.HiddenFor(m => m.Housing)
@Html.HiddenFor(m => m.Building)
@Html.HiddenFor(m => m.Apartment)
@Html.HiddenFor(m => m.District)
@Html.HiddenFor(m => m.Entrance)
@Html.HiddenFor(m => m.EntranceCode)
@Html.HiddenFor(m => m.Kladr)
@Html.HiddenFor(m => m.Floor)

@if(Model.HasDelivery)
{
    <div class="control-group display">
        @Html.LabelFor(m => m.PickupType)
        <div class="controls">
            @Html.DisplayFor(m => m.PickupTypeName)
        </div>
    </div>

    <div class="control-group display deliveryPlace">
        @Html.LabelFor(m => m.Address)
        <div class="controls">
            @Html.DisplayFor(m => m.Address)
        </div>
    </div>
    <div class="control-group display deliveryPlace">
        @Html.LabelFor(m => m.DeliveryDate)
        <div class="controls">
            @Html.DisplayFor(m => m.DeliveryDate, new { @class = "input-small datepicker"})
        </div>
    </div>
    <div class="control-group display deliveryPlace">
        @Html.LabelFor(m => m.City)
        <div class="controls">
            @Html.DisplayFor(m => m.City)
        </div>
    </div>       
    @*<div class="control-group">
        <div class="control-label">
            <div style="float: right; padding-left: 5px;"></div>
            @Html.LabelFor(m => m.RequestedDeliveryDate)
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.RequestedDeliveryDate)
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            <div style="float: right; padding-left: 5px;"></div>
            @Html.LabelFor(m => m.RequestedDeliveryTimeSlot)
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.RequestedDeliveryTimeSlot)
        </div>
    </div>*@

}
else
{
    if (!string.IsNullOrEmpty(Model.OriginalSapCode))
    {
        <div class="control-group display storePlace" style="display: none;">
            <div class="control-label">
                @Html.LabelFor(m => m.OriginalSapCode, "Исходная точка самовывоза")
            </div>
            <div class="controls">
                @*<span style='color: red; text-decoration: line-through; margin-right: 10px;'>*@
                <span style='color: black;'>@Html.DisplayFor(m => m.OriginalSapCode) - @Html.DisplayFor(m => m.OriginalName)</span>
                @*</span>*@
                @*<b style="color: red;">Внимание, возможно изменение способа получения заказа!</b>*@
            </div>
        </div>
    }
    if (!string.IsNullOrEmpty(Model.ReserveSapCode))
    {
        <div class="control-group display storePlace">
            <div class="control-label">
                @Html.LabelFor(m => m.ReserveSapCode, "Подтверждено наличие в ")
            </div>
            <div class="controls">
                @Html.DisplayFor(m => m.ReserveSapCode)
                -
                @Html.DisplayFor(m => m.ReserveName)
            </div>
        </div>
    }
    <div class="control-group display storePlace">
        <div class="control-label">
            @Html.LabelFor(m => m.SapCode,"Текущая точка самовывоза")
        </div>
        <div class="controls">
            @Html.DisplayFor(m => m.SapCode)
            -
            @Html.DisplayFor(m => m.Name)
        </div>
        @if(Model.ShowArticleStockStatus)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Магазин</td>
                        <td>Артикулы</td>
                        <td>Наличие</td>
                        <td>Количество</td>
                        <td>Цена</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayForCollection(m => m.AllCityStores)
                </tbody>
            </table>
        }
    </div>
}