﻿@model Orders.Backend.Admin.Web.Models.CertificateInfoModel

@{
    ViewBag.Title = "Cертификаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                @if (!string.IsNullOrEmpty(@Model.CertificateId))
                {
                    <h2>№ @Model.CertificateId</h2>
                }
            </hgroup>
            @*<p>
                Some text
            </p>*@
        </div>
    </section>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfile</legend>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CertificateId)
            @Html.ValidationMessageFor(model => model.CertificateId)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderId)
            @Html.ValidationMessageFor(model => model.OrderId)
        </div>


        <div>
            <table>   
            <tr><td>
                <div class="editor-label">
                    @Html.LabelFor(model => model.WWSOrderId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.WWSOrderId)
                    @Html.ValidationMessageFor(model => model.WWSOrderId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SapCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SapCode)
                    @Html.ValidationMessageFor(model => model.SapCode)
                </div>
            </td></tr>
            </table>
        </div>
        <p>
            <input type="submit" value="Проверить" />
        </p>
    </fieldset>
}

@{
    var canPaid = false;
    var certificateExists = !string.IsNullOrEmpty(Model.CertificateId);
    }

<table>
<tr>
<td valign="top">
    @if (certificateExists)
    {
        if (Model.OrdersBackendInfo.OrderInfo != null && Model.OrdersBackendInfo.OrderInfo.certificateInfo != null)
        {
            var orderInfo = Model.OrdersBackendInfo.OrderInfo;
            canPaid = orderInfo.StatusInfo.Status == Orders.Backend.Admin.Web.OrdersAdmin.InternalOrderStatus.GiftCertificateNumberReservedNotifyCustomer;
            <h3>Информация из базы заказов:
            
            @if (canPaid)
            {
                @Html.ActionLink("Перевести в оплаченные", "TransferToPay", null, new { id = "TransferToPayAction" });
            }
            </h3> 
            <div id="TransferToPayActionResult"> </div>
            
        <table style="border-style: dotted; border-width: thin">        
        <tr>
        <td>
            <ul>
                <li>Магазин @orderInfo.SapCode </li>
                <li>Заказ номер @orderInfo.OrderId </li>
                <li>Резер номер @orderInfo.WWSOrderId </li>
                <li>Дата обновления @orderInfo.UpdateDate </li>
                <li>Тип оплаты @orderInfo.PaymentType.ToString()</li>
                <li>Источник заказа @orderInfo.OrderSource.ToString()</li>
                <li>Статус заказа @Convert.ToInt32(orderInfo.StatusInfo.Status) - (@orderInfo.StatusInfo.Text)</li>
             </ul>
        </td>
        </tr>
        <tr>
            <td>  
                Стороки заказа:
            </td>
        </tr>
        <tr>
        <td>
        <ul>
        @foreach (var line in Model.OrdersBackendInfo.ArticleLines)
        {
            <li>
            Артикул @line.ArticleNum, цена @line.Price, кол-во  @line.Qty
            </li>
        }
            </ul>
        </td>
        </tr>

        </table>
        }

        /////////
        <table>
           <tr>
               <td>
                @DisplaySlips("Информация из базы чеков:", Model.Slips)
               </td>
           </tr>
           <tr>
               <td>
                @DisplaySlips("Информация из магазинов: ", Model.GmsSlips)
               </td>
           </tr>
        </table>
    }
    
    </td>
    </tr>
    <tr>
    <td valign="top">
        @if (certificateExists)
        {
            if (!string.IsNullOrEmpty(Model.OsiInfo.cardInfo.Number))
            {
                var cardInfo = Model.OsiInfo.cardInfo;
                <h3>Информация из ОСИ:
                    @Html.ActionLink("Изменить баланс подарочного сертификата", "ChangeCertBalance", null, new { id = "ChangeCertBalanceAction" })
                </h3>
                <div id="ChangeCertBalanceActionResult"> </div>
            
                <table style="border-style: dotted; border-width: thin">
                <tr>
                    <td>
                        <ul>
                            <li>Номер @cardInfo.Number</li>
                            <li>Баланс @cardInfo.CurrentBalance</li>
                            <li>Дата истечения срока действия @cardInfo.ExpirationDate</li>
                            <li>Статус @cardInfo.Status</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (@cardInfo.Transactions != null)
                        {
                            <table align="center">
                            <tr>
                                <td class="br"><b>Тип операции</b></td>
                                <td class="br"><b>Текст</b></td>
                                <td class="br"><b>Обработана</b></td>
                                <td class="br"><b>Документ</b></td>
                                <td class="br"><b>Сумма</b></td>
                                <td class="br"><b>Дата</b></td>
                            </tr>
                            @foreach (var tran in cardInfo.Transactions)
                            {
                                <tr>
                                    <td class="br">@tran.TransactionType </td>
                                    <td class="br">@tran.TransactionText </td>
                                    <td class="br">@tran.Processed </td>
                                    <td class="br">@tran.Invoice</td>
                                    <td class="br">@tran.Amount </td>
                                    <td class="br">@tran.DateTime </td>
                                </tr>
                            }
                            </table>
                        }
                    </td>
                </tr>
                </table>
            }
        }
    </td>
    </tr>
</table>

 @if (certificateExists)
 {
    <div id="dialog-form" title="Изменить баланс подарочного сертификата">
        <p class= "validateTips">Все поля обязательны для заполнения</p>
 
        <form>
        <fieldset style = "padding:0; border:0; margin-top:25px;">
            <label for="CertBalanceAmount">Сумма</label>
            <input type="text" name="CertBalanceAmount" id="CertBalanceAmount" class="text ui-widget-content ui-corner-all" />
        </fieldset>
        </form>
    </div>
 }
 

    @helper DisplaySlips(string header, ICollection<Orders.Backend.Admin.Web.Models.Slip> slips)
        {
            if (slips != null && slips.Count > 0)
            {
            <h3>@header</h3>
           <table style="border-style: dotted; border-width: thin">
            <tr>
                <td>
            
                @foreach (var slip in slips)
                {
                    <ul>
                     <li>Магазин @slip.SapCode</li>
                     <li>Номер чека @slip.SlipNumber</li>
                     <li>Дата чека @slip.SlipDate</li>
                     <li>Число артикулов @slip.TotalQty</li>
                     <li>Сумма чека @slip.Amount</li>
                    </ul>
                <table>
                <tr>
                    <td>Стороки чека:</td>
                </tr>
                <tr>
                <td>
                    <ul>
                    @foreach (var line in slip.SlipLines)
                    {
                        <li>
                        @if (!string.IsNullOrEmpty(line.GiftCardNumber))
                        {
                             <text> Подарочная карта @line.GiftCardNumber </text>
                        }
                        else
                        {
                            if (line.ArticleNumber != 0)
                            {
                                <text>Артикул @line.ArticleNumber Имя @line.ArticleName,</text>
                            }
                            else if (line.SetNumber != 0)
                            {
                                <text>Набор @line.SetNumber Имя @line.SetName, </text>
                            }
                            else if (line.DocumentNumber != 0)
                            {
                                <text>Номер документа @line.DocumentNumber,</text>
                            }
                        
                            <text>кол-во  @line.Qty, цена @line.Price</text>
                        }
                        </li>
                    }
                    </ul>
                </td>
                </tr>
            
        </table>
                }
            
                </td>
            </tr>
            </table>
            }
    
    }

@section Styles {
    
     @Styles.Render("~/Content/themes/base/jquery-ui.css")
    <style>
        label, input { display:block; }
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
    </style>
}


    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/Scripts/jquery-1.7.1.min.js")
    @Scripts.Render("/Scripts/jquery-ui-1.8.20.min.js")
    @Scripts.Render("/Scripts/jquery.bgiframe-2.1.2.js")
    @if (certificateExists)
    {
       <script type="text/javascript">
            var certificate = @Model.CertificateId;
            var sapCode = "@Model.SapCode";

            var certBalance = $("#CertBalanceAmount");
            var allFields = $( [] ).add( certBalance );

            var tips = $( ".validateTips" );

            function checkEmpty( o, n) 
            {
                if ( o.val().length < 1) {
                    o.addClass( "ui-state-error" );
                    updateTips( n + " должно быть заполнено");
                    return false;
                } else {
                    return true;
            }
            }

            function checkNumeric( o, n) 
            {
                var check = +o.val();
                if (isNaN(check)) {
                    o.addClass( "ui-state-error" );
                    updateTips(n + " должно быть числом");
                    return false;
                } else {
                    return true;
            }
            }

              function updateTips( t ) 
              {
                tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
                setTimeout(function() {
                    tips.removeClass( "ui-state-highlight", 1500 );
                }, 500 );
            }

           function ConfirmeAndRunAction(question, action, params, prefixId )
           {
                if (confirm(question)) {
                       $.post(action, params , function(data)
                       {
                            $(prefixId + "Action").hide('slow', function()
                            {
                                $(prefixId + 'ActionResult').html('Результа операции:&nbsp;&nbsp;' + data);
                            });
                       });
                   }
           }

           
           function CertChangeBalanceDialog(formId, action, prefixId)
           {
                 $(formId).dialog({
                        autoOpen: false,
                        height: 350,
                        width: 400,
                        modal: true,
                        buttons: {
                        "Изменить баланс": function(){
                               var bValid = true;
                               allFields.removeClass( "ui-state-error" );
                               bValid = bValid && checkEmpty( certBalance, "Сумма");
                               bValid = bValid && checkNumeric( certBalance, "Сумма");
                               
                               var amount =  parseFloat(certBalance.val()).toFixed(2);

                               if (bValid)
                               {
                                   $.post(action, { certificateId: certificate, sapCode: sapCode, amount: amount } , function(data)
                                   {
                                        $(prefixId + "Action").hide('slow', function()
                                        {
                                            $(prefixId + 'ActionResult').html('Результа операции:&nbsp;&nbsp;' + data);
                                        });
                                   });

                                   $( this ).dialog( "close" );
                               }
                        },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                            }
                        },
                        close: function() 
                        {
                            allFields.val( "" ).removeClass( "ui-state-error" );
                        }
                    });
           }

           $(function () {

               $("#TransferToPayAction").live("click", function (e) {
                   e.preventDefault();
                    ConfirmeAndRunAction("Вы уверены что хотите перевести заказ в оплаченные?", this.href, { CertificateId: certificate }, "#TransferToPay");
               });

               var changeCertBalanceControl = $("#ChangeCertBalanceAction");
               CertChangeBalanceDialog("#dialog-form", changeCertBalanceControl[0].href, "#ChangeCertBalance");
               changeCertBalanceControl.live("click", function (e) {
                   e.preventDefault();
                    $("#dialog-form").dialog("open");
               });

           });
           
//           $.validator.unobtrusive.adapters.add('requiredif', ['depedentproperty', 'targetvalue'], function (options) {
//                options.rules["required"] = function (element) {
//                    return $('#' + options.params.depedentproperty).val() == options.params.targetvalue
//                };
//                if (options.message) {
//                    options.messages["required"] = options.message;
//                }
//                $('#' + options.params.depedentproperty).blur(function () {
//                    $('#' + options.element.name).valid();
//                });
//            });
            
        </script>
    }
}

